<div id="app" class="vp-app">
    <div class="mb-app-container" v-if="isMobile">
        @@include('christmasCard/indexMobile.html')
    </div>

    <div class="page-container page-container--personalize" v-else>
        @@include('christmasCard/indexDesktop.html')        
    </div>
</div>
