<div id="app" class="page-container">

    @@include('../modules/menu.html')

    <header id="top">
        <div id="video-container" class="header-container header-video container-intro background-video">
            <video class="video-autoplay" id="video" autoplay loop muted>
                <source src="/media/wishes.mp4" type="video/mp4">
            </video>

            <div id="play-video" class="control-play visible">
                <img src="/img/icons/icon-play-circle.svg" alt="Play Video">
            </div>

            <div id="scroll-trigger" class="header-container-scroll">
                <a href="#zyczenia">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 28">
                        <path id="Path_12" data-name="Path 12" d="M0,26.475,26.475,0,52.951,26.475" />
                    </svg>
                </a>
            </div>
        </div>
    </header>

    <main class="main-wrapper">
        <section id="zyczenia" class="container section-first">
            <div class="container-drop-fx">
                <img src="/img/media/jingle.png" alt="Jingle">
            </div>
            <div class="container-wrapper-block on-scroll">
                <div class="container-text-wrapper">
                    <div class="text-heading">
                        <h1>Moc świątecznych <br />życzeń</h1>
                    </div>
                    <div class="text-default">
                        <p>
                            Życzymy Wam, by świąteczny czas był pełen miłości i radości,<br />
                            a wigilijna gwiazdka doprowadziła wszystkich do domu.<br />
                            Niech spokój i uśmiech zagoszczą w rodzinie,<br />
                            a spotkania będą okazją do serdecznych rozmów.<br />
                        </p>
                    </div>
                </div>
                <div class="container-animate-in">
                    <div id="fx-onscroll-santa" class="fx-onscroll">
                        <img id="santaSequence" src="/img/sequence/santa-cropped/santa_animation_001.png" alt="Santa" />
                    </div>
                </div>
            </div>
        </section>

        <section id="kartka" class="container section-second">
            <div class="container-wrapper-block-narrow">
                <div id="sectionTwoHeader" class="container-heading">
                    <h2>Prześlij swoim bliskim <br />moc serdecznych życzeń</h2>
                    <h3>Stwórz spersonalizowaną kartkę świąteczną i&nbsp;wyślij ją do swoich bliskich e-mailem.</h3>
                </div>

                <div class="container-personalise">
                    <div class="personalise-a-left">
                        <ul id="sectionTwoInstruction">
                            <li class="item">
                                <p><strong>POBIERZ</strong> 5 zdjęć ze swojego komputera i <strong>ZAWIEŚ</strong> je na choince przeciągając je i upuszczając na wybraną bombkę. <br />Zdjęcia możesz wykadrować.</p>
                            </li>
                            <li class="item">
                                <p>
                                    Pozostałe pola wypełnij zdjęciami znajdującymi się obok choinki. <br />
                                    Wystarczy je <strong>PRZECIĄGNĄĆ</strong> do pustych pól.
                                </p>
                            </li>
                            <li class="item">
                                <p>Wpisz swoje życzenia lub zostaw te, które są.</p>
                            </li>
                            <li class="item">
                                <p><strong>POBIERZ</strong> gotową kartkę z życzeniami i prześlij ją e-mailem do rodziny i znajomych.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="personalise-a-right">
                        <figure id="sectionTwoWishcard" class="personalise-back-image">
                            <img src="/img/media/personalised-card.png" alt="Personalizuj swoją kartkę"
                                title="Personalizuj swoją kartkę">
                            <figcaption>
                                <div class="personalise-button">
                                    <a href="/personalizacja-kartki.html" class="button-center" target="_blank">Personalizuj swoją kartkę</a>
                                    <a href="/img/media/kartka-auto.png" class="button-center button-plain" target="_blank" download>Automatyczne wypełnienie kartki</a>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </section>

    </main>
</div>