<div id="app" class="container-main-placeholder">
    <header class="header-main">
        <div class="header-container">
            <a href="https://apteo.pl/" target="_blank">
                <picture>
                    <source media="(min-width: 992px)" srcset="/img/brand/brandApteo.svg">
                    <img src="/img/brand/brandApteoBlue.svg" alt="Apteo" title="Apteo">
                </picture>
            </a>
        </div>
    </header>

    <div class="container-wrapper">
        <div class="container-reveal"></div>
        <div class="container-cover">
            <div id="animation-placeholder" class="animation">
                <lottie-player autoplay loop mode="normal" id="waving-santa" class="container-picture-animated" />
            </div>
            <div class="container-cover-wrapper">    
                <div class="container-cover-countdown">
                    <h1>Czekamy tu na Ciebie <br />od <span>1</span>&nbsp;grudnia</h1>
                    <h2>Zostało tylko</h2>
                    <div class="countdown-timer">
                        <div id="countdown">
                            <div class="timer-wrapper">
                                <div class="timer-block timer-block--days">
                                    <div class="counter">
                                        <span class="liner"></span>
                                        <div id="days" class="count">
                                            <span class="0">X</span>
                                            <span class="0">X</span>
                                        </div>
                                    </div>
                                    <p class="text-date">dni</p>
                                </div>
                                <div class="timer-block timer-block--hours">
                                    <div class="counter">
                                        <span class="liner"></span>
                                        <div id="hours" class="count">
                                            <span class="0">X</span>
                                            <span class="0">X</span>
                                        </div>
                                    </div>
                                    <p class="text-date">godzin</p>
                                </div>
                                <div class="timer-block timer-block--minutes">
                                    <div class="counter">
                                        <span class="liner"></span>
                                        <div id="minutes" class="count">
                                            <span class="0">X</span>
                                            <span class="0">X</span>
                                        </div>
                                    </div>
                                    <p class="text-date">minut</p>
                                </div>
                                <div class="timer-block timer-block--seconds">
                                    <div class="counter">
                                        <span class="liner"></span>
                                        <div id="seconds" class="count">
                                            <span class="0">X</span>
                                            <span class="0">X</span>
                                        </div>
                                    </div>
                                    <p class="text-date">sekund</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="container-cover-images">
                    <div class="image-block">
                        <img src="/img/media/gift.svg" alt="Prezent" title="Prezent">
                    </div>
                    <div class="image-block">
                        <img src="/img/media/sled.svg" alt="Sanki" title="Sanki">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>