// global colors HEX
$white : #FFF !default;
$black : #000 !default;
$defaultBlack: #333;
$black-lighten-4: #444444;
$gray-dd: #DDDDDD;
$gray-74: #747474;
$silver: silver;
$gray-eb: #EBEBEB;

$greenDark: #165B33;
$green: #146B3A;
$yellow: #F8B229;
$red: #EA4630;
$redDark: #BB2528;

$greenApteo: #359530;
$redApteo: #A8221D;

// Gradients
$app-gr1: #E6DCCC;
$app-gr2: #FDFCF5;


$theme-color-1 : $redDark;
$theme-color-2 : $red;
$theme-color-3 : $white;

$text-default: $defaultBlack;

// Grid
$grid-columns: 12;

// fonts
$Barlow: 'Barlow', sans-serif;
$Poppins: 'Poppins', sans-serif;
$Fertigo: 'FertigoPro-Regular', monospace;

$fw-thin : 300 !default;
$fw-light : 300 !default;
$fw-regular : 400 !default;
$fw-semibold : 500 !default;
$fw-semibold-heavy : 600 !default;
$fw-bold : 700 !default;
$fw-black : 900 !default;

// breakpoints
$XS : 320px;
$S : 480px;
$SM : 580px;
$M : 768px;
$L : 992px;
$XL : 1200px;
$XLS : 1600px;
$XXL : 1920px;

// minmax
$min_width: $XS;
$max_width: $XXL;
$min_font: 12px;
$max_font: 18px;

// breakpoints devices
$break-768 : $M;
$break-1024 : 1024px;
$break-1366 : 1366px;

// max content width
$min-width : 320px;
$max-width : 1460px;