.audiobar-notification {
    position: fixed;
    top: 15px;
    left: 15px;
    min-width: 150px;
    height: auto;
    background: $green;
    opacity: 0;
    touch-action: none;
    pointer-events: none;
    transition: .5s all ease-out;
    transform: translateY(-100%);
    &-show {
        opacity: 1;
        touch-action: all;
        pointer-events: all;
        transform: translateX(0);
    }
    .audiobar-notification-inner {
        display: block;
        padding: 10px 25px;
        p {
            text-align: center;
            font-size: 1.6rem;
            color: transparentize($white, .1);
            font-weight: $fw-regular;
            text-transform: lowercase;
        }
    }
}

.audio-container {
    width: 100%;
    display: flex;
    align-items: stretch;
    background: $defaultBlack;
    
    .audio-group {
        color: $white;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 25px;
    }
    
    .audio {
        height: 100%;
        &__thumb {
            height: 100%;
            &--image {
                width: 100px;
                display: flex;
                align-content: center;
                justify-content: center;  
                svg {
                    width: 43px;
                    height: 100%;
                    stroke-width: 1;
                }              
            }
        }
        &__progressbar {
            display: flex;
            flex-direction: column;
            width: 640px;
            padding: 10px;
            &:hover {
                .audio__progressbar--title {
                    p {
                        color: $white;
                    }
                }
            }
            .audio__progressbar-group {
                display: flex;
                align-items: center;
            }
            &--title {
                flex-grow: 1;
                p {
                    font-size: 16px;
                    color: $silver;
                    transition: .3s all ease-out;                    
                }
            }
            &--duration {
                p {
                    font-size: 16px;
                    color: darken($white, 10%);
                }
            }
            &--bar {
                width: 100%;
                margin-top: 5px;
                .audio-bar {
                    background: $white;
                    display: block;
                    width: 100%;
                    height: 12px;
                    border-radius: 2px;
                }
                .audio-bar--inner {
                    background: $yellow;
                    width: 32%;
                    height: 100%;
                    display: block;
                    border-radius: 2px;
                }
            }

        }
        &__buttons {
            display: flex;
            align-content: center;
            justify-content: center;
            margin-left: 25px;
            .audio__buttons-group {                
                display: flex;
                align-content: center;
                justify-content: center;            
            }

            .audio-btn {
                display: flex;
                align-content: center;
                justify-content: center;       
                width: 64px;
                height: 64px;
                margin-right: 10px;
                svg { 
                    height: 100%;
                    width: 26px;
                }

                &.audio-btn-hidden {
                    display: none;
                }
            }

            .audio-btn {
                background: $black-lighten-4;
                transition: .3s all ease-out;
                cursor: pointer;
                &:hover {
                    background: $green;
                }
            }            

            &--stop {}
            &--pause {}
            &--play {}
            &--volume-on {
                svg {
                    position: relative;
                    polygon {
                        transform: translateX(5px);
                    }
                }
            }
            &--volume-off {}
        }
    }

    .audio-close {
        background: $black;
        width: 125px;
        transition: .3s all ease-out;
        cursor: pointer;
        &:hover {
            background: lighten($black, 10%);
        }
        .audio-close-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            svg {
                width: 28px;
                height: 100%;
            }
        }
    }
}