.cookies-alert {
    background-color: $theme-color-1;
    color: $theme-color-3;
    text-align: center;
    padding: 10px 0;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    .cookies-button {
        display: inline-block;
        width: 160px;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.8;
        color: $theme-color-3;
        background-color: $theme-color-2;
        cursor: pointer;
        margin: 5px 20px 5px 20px;
        transition: all .3s ease-out;
        outline: none;
        border-radius: 0;
        letter-spacing: 0.05rem;

        &:hover {
            background-color: lighten($theme-color-2, 5%);
        }
    }

    p {
        display: inline-block;
        font-size: 1.5rem;
        line-height: 1.8rem;
        text-align: center;
        margin: 5px;
        letter-spacing: 0.05rem;

        a {
            color: $theme-color-3;
            text-decoration: underline;

            &:hover {
                color: darken($theme-color-3, 10%);
            }
        }
    }
}