.main-nav {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    
    @include MQ(Lneg) {
        transition: .1s all ease-out;
        height: 84px;
        z-index: 100;
        &::before {
            background: transparentize($greenApteo, 0);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            transition: .1s all ease-out;
            z-index: -1;
        }
        &.is-scrolling {
            height: 54px;
            &::before {
                background: transparentize($greenApteo, 0);
                height: 100%;
            }
        }
    }

    .menu-container {
        display: flex;
        align-items: center;        
        padding: 15px 25px;
        width: 100%;
        @include MQ(XLneg) {
            justify-content: space-between;
        }                    
        @include MQ(Lneg) {
            padding: 8px 12px;
        }
    }

    .menu-brand {
        display: flex;
        align-items: center;
        width: 100px;
        flex-grow: 1;
        padding: 0 35px;
        @include MQ(XLneg) {
            padding: 0;
        }

        img {
            @include MQ(XLneg) {
                max-width: 100px;
            }
            @include MQ(Lneg) {
                display: flex;
                align-items: center;
                max-width: 84px;
            }
        }
    }

    .menu-nav {
        margin: 0 20px;
        @include MQ(XLneg) {
            display: none;
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            li {
                margin-right: 5px;
                a {
                    display: block;
                    padding: 10px 25px 7px;
                    color: $white;
                    font-weight: $fw-semibold;
                    font-size: 1.8rem;
                    line-height: 1.4;
                    transition: .3s all ease-out;
                    border: 2px solid transparent;

                    svg {
                        width: 28px;
                        stroke: $yellow;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

        &.menu-nav-ar {
            display: flex;
            align-items: center;

            .menu li a {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                .icon {
                    padding-left: 10px;

                    svg {
                        width: 21px;
                        height: 21px;
                        display: flex;
                        align-items: center;
                    }
                }
                &:hover {
                    border-bottom-color: transparent;
                }
            }
        }
    }

    .menu-audiobar {
        display: flex;
        width: 36px;
        border-radius: 100%;
        cursor: pointer;
        svg {
            height: 24px;
            width: 24px;
            stroke: none;
            fill: $white;
            display: flex;
            align-items: center;
        }

        .volume {
            svg {
                width: 21px;
                height: 21px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &.hidden {
                display: none;
            }
        }
    }

    .hamburger {
        display: none;

        padding: 0;
        @include MQ(XLneg) {
            display: block;
            z-index: 100;
        }
        
        .hamburger-box {
            width: 32px;
            height: 24px;
            position: relative;       
            display: flex;
            align-items: center;     
            justify-content: center;            
            transform: scale(.8);
            @include MQ(Lneg) {
                height: 21px;
            }
        }
        .hamburger-inner {
            width: 32px;
            height: 3px;
            display: block;
            background: $white;
            &:before, &:after {
                width: 32px;
            }
        }
        @include MQ(XLneg) {
            display: block;                        
        }
    }

    .navigation-drawer {        

        &.active-drawer {
            opacity: 1;
                pointer-events: all;
                touch-action: auto;
            &::before {
                opacity: 1;
                pointer-events: all;
                touch-action: auto;
            }
            .navigation-inner {
                pointer-events: all;
                touch-action: auto;
                transform: translateX(0);    
            }
        }

        pointer-events: none;
        touch-action: none;

        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        right: 0;
        width: 100vw;
        transform: none;
        transition: .2s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
        &::before {
            opacity: 0;
            pointer-events: none;
            touch-action: none;
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            transition: .2s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
            background: transparentize($black, .5);    
        }
                
        .navigation-inner {
            pointer-events: none;
            touch-action: none;
            transform: translateX(100%);

            position: fixed;
            top: 0;
            right: 0;
            width: 90vw;
            min-height: 100vh;
            background: $gray-dd;
            padding: 28px 25px;
    
            display: flex;
            flex-direction: column;
            transition: .2s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }

        .navigation-drawer-top {
            // flex: 1 0 auto;
            padding-bottom: 35px;            
        }
        .navigation-drawer-content {
            flex: 1 0 auto;
            .content-wrapper {
                ul {
                    li {
                        margin: 5px 0 0;
                        a {
                            color: $greenApteo;
                            font-size: 2rem;
                            font-weight: 600;
                            position: relative;
                            display: block;
                            width: 100%;
                            padding: 10px 0;
                            transition: .2s all ease-out;
                            &::before {
                                content: '';
                                position: absolute;
                                top: 50%;
                                left: 0;
                                transform: translateY(-50%);
                                background: $greenApteo;
                                width: 0;
                                height: 3px;
                                transition: .2s all ease-out;
                            }
                            &.active {
                                padding-left: 65px;
                                color: $greenApteo;
                                &::before {
                                    width: 45px;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        .navigation-drawer-footer {
            p {
                color: $greenApteo;
                font-size: 1.4rem;
                text-align: center;
                a {
                    color: $greenApteo;
                    font-weight: $fw-bold;
                }
            }
        }
    }
}