.crop-image-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    @include backdrop-blur(2.5px, $defaultBlack);
    display: none;
    // display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    width: 100%;
    height: 100%;
    &.active {
        display: flex;
    }
    .crop-image-container {
        width: 768px;
        height: 540px;
        background: $defaultBlack; 
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;

        .crop-image-close {
            position: absolute;
            top: 25px;
            right: 25px;
            background: $redApteo;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            border-radius: 24px;
            cursor: pointer;
            svg {
                width: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .crop-header {
            p {
                font-size: 2rem;
                color: $white;
                font-family: $Poppins;
                font-weight: 500;
                text-align: center;
                padding: 10px 0;
            }
        }

        .crop-result {
            flex: 1 0 auto;
            padding: 0 0 10px;
            width: 100%;
            max-width: 540px;

            display: flex;
            align-items: center;
            justify-content: center;
            img {
                max-height: 360px;
                display: block;
                margin: 0 auto;
            }
        }

        .crop-image-save {
            width: 360px;
            margin: 25px auto;
            display: flex;
            align-items: center;
            justify-content: center;
            .btn {                
                width: 150px;
                border-radius: 75px;
                background: $white;
                color: $redApteo;
                font-family: $Poppins;
                font-weight: 500;
                padding: 10px 16px;
                font-size: 1.8rem;
            }
        }
    }
    
    .crop-image-preview {
        display: none;

        width: 768px;
        height: 540px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        background: $defaultBlack;   
        &.active {
            display: block;
        }
    }
    .crop-image-preview-wrapper {
        width: 100%;
        height: 100%;
        padding: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }

    .crop-preview-close {
        position: absolute;
        top: 25px;
        right: 25px;
        background: $redApteo;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 24px;
        cursor: pointer;
        svg {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .crop-image-view {
        flex: 1 0 auto;
        margin: 0 auto;
        width: 100%;
        max-width: 540px;
        padding-top: 25px;
        max-height: calc(540px - 100px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .crop-preview-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 150px;   
        height: 100px;  
        padding: 25px 0;
        .crop-preview-return {
            width: 36px;
            padding: 10px 16px;
            border-radius: 18px;
            background: $redApteo;
            display: flex;
            align-items: center;
            justify-content: center;
            .btn-return {
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                    width: 18px;
                    stroke: $white; 
                }
            }
        }
        .crop-preview-select {
            width: 100px;
            .btn {
                width: 150px;
                border-radius: 75px;
                background: $white;
                color: $redApteo;
                font-family: $Poppins;
                font-weight: 500;
                padding: 10px 16px;
                font-size: 1.8rem;
            }
        }
    }
}