.preloader-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 1000;
    transition: .3s all ease-out;    
    &.loaded {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        touch-action: none;
    }

    .preloader-inner {        
        background: linear-gradient(45deg, $greenApteo 0%, darken($greenApteo, 10%) 100%);
        min-width: 100vw;
        min-height: 100vh;
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 0;
        &::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-image: url('../img/media/bg.svg');
            background-repeat: repeat-y;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        .preloader-brand {
            padding-bottom: 35px;
            img {
                animation-name: stretch;
                animation-duration: 1s;
                animation-timing-function: ease-out;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                animation-play-state: running;
                width: 184px;
                display: block;
                margin: 0 auto;
                @include MQ(Lneg) {
                    width: 200px;
                }
            }
            p {
                font-family: $Fertigo;
                text-align: center;
                margin-top: 15px;
                padding: 8px 20px;
                font-size: 1.6rem;
                color: $greenApteo;
                text-transform: uppercase;
                background: $white;
                border-radius: 25px;
                @include MQ(Lneg) {
                    font-size: 1.4rem;
                    padding: 8px 12px;
                }
            }
        }
    }
}