.page-container {
    background: $gray-dd;
    min-height: 100vh;

    .header-video {
        position: relative;
        // height: 100vh;
        width: 100vw;
        z-index: 10;
        font-size: 0;

        @include MQ(XLneg) {
            min-height: auto;
        }    

        @include MQ(Lneg) {
            width: 100%;
        }

        video {
            position: relative;
            width: 100vw;
            height: auto;
        }
    }

    .header-video {
        overflow: hidden;
        position: relative;
        min-height: 100vh;
        // min-height: 100vh;
        width: 100vw;
        // min-height: 500px;
        z-index: 10;
        font-size: 0;
        @include MQ(XLneg) {
            min-height: auto;
            // height: 400px;
        }
        @include MQ(Lneg) {
            width: 100%;
        }
        &.background-video {
            height: 100%;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: transparentize($black, .5);
                z-index: 10;
                
            }
            video {
                // position: absolute;
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%, -50%);
                // min-width: 100%;
                // min-height: 100%;
                // width: auto;
                // height: auto;
                // width: 100vw;
                // height: 100vh;
                width: 100vw;
                height: 100%;
                overflow: hidden;
            }
        }
        video {
            position: relative;
            width: 100vw;
            height: auto;
        }

        .control-play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            display: none;
            z-index: 100;
            &.visible {
                display: block;
            }
            img {
                width: 110px;
            }
        }
    }

    .header-container-scroll {
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
        z-index: 20;
        @include MQ(XLneg) {
            bottom: 0;
        }
        @include MQ(Lneg) {
            display: none;
        }
        svg {
            width: 92px;
            height: 92px;
            stroke: $white;
            fill: none;
            stroke-width: 2;
            cursor: pointer;
            transform: rotate(180deg);
            transition: .3s all ease-out;
            padding: 25px;
            @include MQ(XLneg) {
                width: 84px;
                height: 84px;
            }
        }
    }

    .main-wrapper {
        background: radial-gradient(farthest-corner at 30vw 20vh, $greenApteo 0%, darken($greenApteo, 20%) 100%);
        position: relative;
        z-index: 0;
        &::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            background: url('../img/media/stars-bg.svg') repeat-y center;
            background-size: cover;
            width: 100%;
            min-height: 100vh;
            z-index: -1;
        }
    }

    .container {
        position: relative;
        min-height: 250px;        
        .container-drop-fx {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: -1;
            img {
                width: 100%;
            }
        }

        .container-wrapper-block {
            padding: 15vw 40px 0;
            margin: 0 auto;
            @include MQ(XLneg) {
                padding: 15vw 0 0;
            }
            @include MQ(Lneg) {
                padding: 15vw 25px 0;
            }
        }

        .on-scroll {
            display: flex;
            align-items: center;
            position: relative;
            @include MQ(Lneg) {
                flex-direction: column;
            }

            .container-text-wrapper {
                flex: 1;
                z-index: 1;
                @include MQ(XLSneg) {
                    max-width: 50%;
                }
                @include MQ(Lneg) {
                    max-width: 100%;
                }}
            .container-animate-in {
                flex: 1;
            }
        }

        .container-animate-in {
            padding-left: 50px;
            z-index: 0;

            @include MQ(Lneg) {
                padding: 0;
            }
            

            .fx-onscroll {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;

                @include MQ(XLneg) {
                    position: relative;
                }

                img {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    width: auto;
                    height: auto;
                    max-height: vw(992);
                    @include MQ(XLneg) {
                        width: 100%;
                        max-width: 768px;
                    }
                    @include MQ(Lneg) {
                        width: 100%;
                        max-width: 640px;
                        height: auto;
                        position: relative;
                        top: 0;
                        transform: none;
                    }
                }
            }
        }

        .container-wrapper-block-narrow {
            padding: 5vw 40px 5vw;
            max-width: $max-width;
            margin: 0 auto;
            @include MQ(Lneg) {
                padding: 15vw 25px 0;
            }
        }
        
        .container-text-wrapper {            
            h1 {
                font-family: $Fertigo;
                color: $white;
                font-size: 7.6rem;
                line-height: 1.2;
                text-align: center;
                @include fluid-type($XL, $XLS, 50px, 76px);
                @include fluid-type($L, $XL, 36px, 50px);
                @include MQ(XLneg) {
                    text-shadow: 0 4px 2px transparentize($black, .8);
                }
                @include MQ(Mneg) {
                    font-size: 2.8rem;
                }
            }
            p {
                font-size: 2.4rem;
                line-height: 1.4;
                color: $white;
                text-align: center;
                @include fluid-type($XL, $XLS, 18px, 24px);
                br {
                    @include MQ(MAXneg) {
                        display: none;
                    }
                }
                @include MQ(Mneg) {
                    font-size: 1.6rem;
                }
            }

            .text-default {
                max-width: $M;
                margin: 0 auto;
                padding: 50px 0;
                @include MQ(XLneg) {
                    br {
                        display: none;
                    }
                }
            }
        }

        .container-heading {
            @include MQ(Lneg) {
                margin-bottom: 25px;
            }
            h2 {
                text-align: center;
                color: $white;
                font-family: $Fertigo;
                font-size: 5rem;
                line-height: 1.4;
                @include fluid-type($XL, $XLS, 26px, 50px);
                @include MQ(XLneg) {
                    text-shadow: 0 4px 2px transparentize($black, .8);
                }
                br {
                    @include MQ(Lneg) {
                        display: none;
                    }
                }
                @include MQ(Mneg) {
                    font-size: 2.4rem;
                }
            }
            h3 {
                text-align: left;
                color: $white;
                font-family: $Fertigo;
                font-size: 3rem;
                line-height: 1.4;
                @include fluid-type($XL, $XLS, 24px, 30px);
                margin: 25px 0;
                br {
                    @include MQ(Lneg) {
                        display: none;
                    }
                }
                @include MQ(Mneg) {
                    font-size: 2.4rem;
                }
            }
        }

        .container-personalise {
            display: flex;
            align-items: center;
            justify-content: center;

            @include MQ(Lneg) {
                flex-direction: column;
            }

            .personalise-a-left {
                width: 45%;
                @include MQ(Lneg) {
                    width: 100%;
                }

                ul {
                    li.item {
                        margin-bottom: 25px;
                        display: flex;
                        align-items: flex-start;                    
                        p {
                            color: $white;
                            font-size: 2.2rem;
                            width: 90%;
                            line-height: 1.4;
                            @include fluid-type($XL, $XLS, 16px, 22px);
                            @include MQ(Lneg) {
                                width: 100%;
                            }
                            @include MQ(Mneg) {
                                font-size: 1.6rem;
                            }
                        }
                        &::before {
                            content: url('../img/icons/icon-list-star.svg');
                            padding-right: 15px;
                            @include MQ(Lneg) {
                                margin: 0 auto;                                
                            }
                        }
                    }
                }
            }
            .personalise-a-right {
                width: 65%;
                padding-left: 25px;
                @include MQ(Lneg) {
                    width: 100%;
                    padding-left: 0;
                }
                @include MQ(Mneg) {
                    width: 90vw;
                }

                figure.personalise-back-image {
                    position: relative;
                    font-size: 0px;
                    margin: 0 0 0 auto;
                    padding: 0;

                    width: 100%;
                    max-width: 600px;
                    transform: rotate(4deg);

                    @include MQ(XLneg) {
                        max-width: 480px;
                    }
                    @include MQ(Lneg) {
                        max-width: 100%;
                        margin-bottom: 50px;
                    }

                    img {
                        width: 100%;
                    }

                    figcaption {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        .personalise-button {
                            margin: 0 auto;
                            position: absolute;
                            top: 60%;
                            left: 50%;
                            transform: translate(-50%, -40%);
                            width: 100%;
                            max-width: 360px;
                            padding: 0 25px;
                            
                            a {
                                font-size: 2rem;
                                font-family: $Fertigo;
                                display: block;
                                background: $redApteo;
                                color: $white;
                                padding: 16px 24px;
                                border-radius: 8px;
                                transition: .3s all ease;
                                text-align: center;
                                margin: 0 auto;      
                                @include fluid-type($S, $L, 16px, 20px);
                                &:hover {
                                    background: darken($redApteo, 5%);
                                }
                                @include MQ(Mneg) {
                                    font-size: 1.6rem;
                                }
                            }

                            .button-plain {
                                background: none;
                                color: $redApteo;
                                margin-top: 10px;
                                &:hover {
                                    background: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}