.page-container {
    &--personalize {
        background: radial-gradient(farthest-corner at 30vw 20vh, $greenApteo 0%, darken($greenApteo, 20%) 100%);
        position: relative;
        z-index: 0;
        &::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            background: url('../img/media/stars-bg.svg') repeat-y center;
            background-size: cover;
            width: 100%;
            min-height: 100vh;
            z-index: -1;
        }

        .main-nav {
            padding: 35px 0;
            background: linear-gradient(180deg, $greenApteo 0%, transparentize($greenApteo, .5) 65%, transparentize($greenApteo, 1) 100%);
        }

        .menu-container {
            max-width: $max-width;
            margin: 0 auto;
            padding: 0 40px;
            .menu-brand {
                padding: 0;
                img {
                    display: flex;
                    align-items: center;
                }
            }
            .menu-nav-ar {
                margin: 0;    
                .menu li {
                    margin: 0;
                    a {
                        border: none;
                    }
                }
            }
        }
    }
}

.page-container--personalize {
    .main-content {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        padding: 40px 40px 25px;
        max-width: $max-width;
        margin: 0 auto;
        .app-main {
            flex: 1 0 auto;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 75px 0 50px;
        }

        .star {
            display: flex;
            align-items: flex-start;
            padding: 10px 0;
            &::before {
                content: url('../img/icons/icon-list-star.svg');
                padding-right: 10px;
                @include MQ(Lneg) {
                    margin: 0 auto;                                
                }
            }
            p {
                font-family: $Poppins;
                font-size: 2.2rem;
                line-height: 1.4;
                color: $white;
                @include fluid-type($L, $XLS, 18px, 22px);

                .instruction-label {
                    font-size: 1.8rem;
                    color: $yellow;
                }
            }
        }
    }

    .content-left,
    .content-right {
        width: 50%;
    }

    .content-left {
        .content-left-header {
            h1 {
                font-family: $Fertigo;
                color: $white;
                font-size: 6.4rem;
                line-height: 1.2;
                text-shadow: 0 4px 2px transparentize($black, .8);
                @include fluid-type($XL, $XLS, 50px, 64px);
                @include fluid-type($L, $XL, 36px, 50px);
            }
        }

        .content-left-wrapper {
            padding: 25px 0 0;
            .h2 {
                font-size: 3.6rem;
                line-height: 1.2;
                color: $white;
                font-family: $Fertigo;
                margin-bottom: 15px;
                @include fluid-type($XL, $XLS, 18px, 36px);
                @include MQ(XLneg) {
                    line-height: 1.4;
                }
                br {
                    @include MQ(Lneg) {
                        display: none;
                    }
                }
            }
        }

        // UPLOAD SECTION
        .content-upload {
            padding: 10px 0 15px;
            
            .upload-list {                
                display: flex;
                align-items: center;
                width: 100%;
            }

            .upload-list-item {             
                width: 100%;
                max-width: 70px;
                margin-right: 10px;
                position: relative;
                label {
                    width: 70px;
                    height: 70px;
                    display: flex;
                    align-items: center;
                    justify-content: center;                    
                    cursor: pointer;
                    position: relative;
                    z-index: 0;
                    &::before {
                        content: '';
                        border: 2px dotted $white;
                        
                        border-radius: 35px;
                        z-index: -1;
                        width: 70px;
                        height: 70px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        transition: .3s all ease-out;
                    }
                    &:hover {
                        &::before {
                            box-shadow: 0 0 3px 5px rgba(200,200,200,.2);

                        }
                    }

                    input.user-image-input {
                        display: none;
                    }

                    .custom-upload {
                        display: flex;
                        align-items: center;                        
                        img {
                            max-width: 32px;
                        }
                    }
                }

                .cropped-item-image {
                    width: 70px;
                    height: 70px;      
                    display: none;              
                    // display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 35px;
                    position: relative;
                    &.show {
                        display: block;
                    }
                    .cropped-item-delete {
                        position: absolute;
                        top: -3px;
                        right: -4px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 28px;
                        height: 28px;
                        background: $redApteo;
                        border-radius: 14px;
                        cursor: pointer;
                        transition: .3s all ease-out;
                        z-index: 1;
                        &:hover {
                            background: darken($redApteo, 3%);
                        }
                        svg {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 18px;
                            height: 18px;
                        }
                    }
                    .cropped-item-wrapper {
                        font-size: 0;
                        img {
                            width: 70px;
                            border-radius: 35px;
                        }
                    }
                }
            }
        }


        // GALLERY SELECT
        .content-gallery {
            .gallery-list {
                padding: 10px 0 15px;
            }
        }
        
        .gallery-item-preview { 
            display: none;

            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            // background: rgba(0,0,0,.75);
            background: rgba(0,0,0,.35);
            align-items: center;
            justify-content: center;
            z-index: 100;
            padding: 25px;

            img {
                z-index: -1;
                width: 100%;
                max-width: 540px;
                padding: 25px;
            }

            .close {
                position: absolute;
                top: 50px;
                right: 50px;
                background: $white;
                width: 54px;
                height: 54px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                cursor: pointer;
                transition: .2s all ease-out;
                &:hover {
                    background: $redApteo;
                    svg {
                        stroke: $white;
                    }
                }
                svg {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 26px;
                    height: 26px;
                    stroke: $redApteo;
                    transition: .2s all ease-out;
                }
            }

            .image-container {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: 100%;

                .image-container-buttons {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    button {
                        width: 200px;
                        padding: 10px 20px;
                        border-radius: 8px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: $redApteo;
                        color: $white;
                        font-size: 1.8rem;
                        font-family: $Fertigo;
                        text-align: center;
                        position: relative;
                        .icon {
                            display: none;
                            // display: flex;
                            align-items: center;
                            justify-content: center;
                            position: absolute;
                            right: 100%;
                            width: 36px;
                            height: 36px;
                            border-radius: 18px;
                            margin-right: 15px;
                        }
                        svg {
                            width: 26px;
                            height: 26px;
                        }

                        &.preview-button-selected {
                            background: $white;
                            color: $redApteo;
                            .icon {
                                background: $redApteo;
                                svg {
                                    fill: $white;
                                }
                            }
                        }
                    }

                    .limited {
                        font-size: 1.6rem;
                        color: $redApteo;
                        font-family: $Poppins;
                        font-weight: 500;
                        text-align: center;
                        padding: 10px 15px;
                        background: $white;
                        border-radius: 8px;

                        display: none;
                    }
                }
            }
        }

        .gallery-row {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            .gallery-item {
                margin-right: 10px;
                margin-bottom: 10px;
                cursor: pointer;   
                font-size: 0;   
                position: relative;
                z-index: 0;
                
                width: 70px;
                height: 70px;

                transition: .2s all ease;

                cursor: grab;
                &:active {
                    cursor: grabbing;
                }

                &.gallery-item-dropped {
                    cursor: default;
                    pointer-events: none;
                    &::before {
                        background: transparentize($redApteo, .4);
                    }
                    &::after {
                        content: url('../img/icons/icon-check.svg');
                        @include backdrop-blur(2.5px, $redApteo);
                        opacity: 1;
                    }
                }

                &.selected {
                    &::before {
                        background: transparentize($redApteo, .4);
                    }
                    &::after {
                        content: url('../img/icons/icon-check.svg');
                        @include backdrop-blur(2.5px, $redApteo);
                        opacity: 1;
                    }
                    &:hover {
                        &::before {
                            background: transparentize($redApteo, .4);
                        }
                    }
                }
                &.preview {
                    box-shadow: 0 0 10px 4px transparentize($defaultBlack, .5);
                    border-radius: 35px;
                }
                &::before {
                    transition: .2s all ease-out;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 70px;
                    height: 70px;
                    background: transparentize($white, 1);
                    z-index: 1;
                    border-radius: 35px;
                }        
                &::after {
                    transition: .2s all ease-out;
                    content: url('../img/icons/icon-view.svg');
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 50px;
                    height: 50px;
                    z-index: 1;
                    border-radius: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    @include backdrop-blur(2.5px, $white);
                }

                &:hover {
                    // &::before {
                    //     background: transparentize($white, .4);
                    // }
                    // &::after {
                    //     opacity: 1;
                    // }
                }
                img {
                    width: 100%;
                    max-width: 70px;
                }

                .gallery-item-draggable {
                    img {
                        width: 100%;
                        max-width: 70px;
                    }
                }
                .gallery-item-selected {
                    &.hidden {
                        display: none;
                    }
                    &.selected {
                        display: block;
                    }
                    img {
                        width: 100%;
                        max-width: 70px;
                    }
                }
                // & > img {
                //     width: 100%;
                //     max-width: 70px;
                // }
            }            
        }
    }

    .content-right {
        .card-wrapper {

        }

        .card-wrapper > figure {
            position: relative;
            font-size: 0;
            margin: 0;

            width: 768px;
            
            
            figcaption {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 0 0 0 40px;

                display: flex;
                align-items: flex-end;

                .tree-wrapper {
                    width: 440px;
                    position: relative;
                    svg {
                        max-width: 95%;
                        transform: translateY(-15px);
                        overflow: visible;
                        .position-points {
                            opacity: 0;
                        }
                    }
                    // img {
                    //     width: 100%;
                    // }

                    .xmas-ball {                        
                        width: 100%;                        
                        position: absolute;                        
                        border-radius: 100%;
                        border: 2px solid $yellow;
                        background: url('../img/media/app/xmas-ball.png') no-repeat center;
                        background-size: contain;
                        z-index: 0;
                        &::before {
                            content: '';
                            position: absolute;
                            bottom: 100%;
                            left: 50%;
                            transform: translateX(-50%);
                            background: url('../img/media/app/ball-hook.png') no-repeat center;
                            background-size: contain;
                            z-index: -1;
                            width: 6px;
                            height: 6px;
                        }

                        & > img {
                            width: 100%;
                            height: auto;
                            &.gallery-item-thumb {
                                border-radius: 50%;
                            }
                        }
                    }
                }

                .xmas-wishes {
                    width: calc(100% - 540px);
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 75px;
                    transform: translateY(40%);
                    padding-right: 10px;

                    p, pre {
                        font-size: 1.6rem;
                        color: $redApteo;
                        line-height: 1.4;
                        text-align: center;
                        cursor: pointer;
                        word-wrap: break-word;
                    }
                    
                    .hidden-textarea {
                        position: fixed;
                        top: 0;
                        left: 0;
                        display: none;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        padding: 25px;
                        background: linear-gradient(45deg, $app-gr1 0%, $app-gr1 90%);

                        &.show {
                            display: flex;
                        }

                        .textarea {
                            flex: 1 0 auto;
                            display: flex;
                            align-items: center;
                            width: 100%;
                            flex-direction: column;
                            label {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                textarea {
                                    padding: 25px;
                                    width: 100%;
                                    box-shadow: none;
                                    outline: none;
                                    border: none;
                                    margin: 0;
                                    color: $redApteo;
                                    font-family: $Fertigo;
                                    font-size: 1.8rem;
                                    resize: none;
                                    min-height: 100%;
                                    text-align: center;
                                    line-height: 1.4;
                                }
                            }

                            .character-count {
                                flex: 1;
                                padding: 0 25px 25px;
                                margin-left: auto;
                                p {
                                    text-align: right;
                                }
                            }
                        }

                        .action {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 10px 0;
                            button {
                                font-size: 1.8rem;
                                font-family: $Fertigo;
                                padding: 10px 15px;
                            }

                            .action-cancel {
                                button {
                                    color: $redApteo;
                                }
                            }

                            .action-save {
                                margin-left: 15px;
                                button {
                                    background: $redApteo;
                                    color: $white;
                                    border-radius: 8px;   
                                    width: 130px;    
                                    transition: .3s all ease-out;
                                    &:hover {
                                        background: darken($redApteo, 3%);
                                    }                             
                                }
                            }
                        }
                    }                                    
                }
            }
        }

        .card-bg {
            width: 100%;
            min-height: 660px;
            background: url('../img/media/personalised-card.png') no-repeat;
            background-size: contain;
            background-position: center;
            position: relative;
        }

        .download {
            width: 100%;
            margin: 25px 0;
            position: relative;
            a.button {
                background: $redApteo;
                color: $white;
                font-family: $Fertigo;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                max-width: 360px;
                margin: 0 auto;
                padding: 10px 16px;
                border-radius: 8px;
                transition: .3s all ease-out;
                font-size: 2rem;

                .text {
                    flex-grow: 1;
                }

                &:hover {
                    background: darken($redApteo, 3%);
                    .icon {
                        svg {
                            transform: translateY(3px);
                        }
                    }
                }
            }

            .icon {
                border: 2px solid $white;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 6px;
                svg {
                    transition: .3s all ease-out;
                }                
            }
        }
    }
}