.container-main-placeholder {

    .header-main {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 25px;
        z-index: 100;
        // outline: 1px solid red;

        .header-container {
            width: 100%;
            max-width: $max-width;
            padding: 0 40px;
            margin: 0 auto;            
            @include MQ(Lneg) {
                display: flex;
                justify-content: flex-end;
                padding: 0;
            }
            img {
                width: 100%;
                max-width: 125px;
                @include MQ(XLneg) {
                    max-width: 100px;
                }                
            }
        }
    }

    .container-wrapper {
        display: flex;
        align-items: flex-start;
    }

    .container-reveal {
        display: block;
        min-height: 100vh;
        background-image: url('../img/media/background.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 30%;
        min-height: 100vh;
    }

    .container-cover {
        background: $white;
        position: relative;
        width: 70%;

        @include MQ(XLneg) {
            width: 83%;                   
        }

        .animation {
            width: $L;
            overflow: hidden;

            .container-picture-animated {
                width: 100%;
                position: absolute;
                top: 0;
                left: -23.70%;
                @include MQ(Mneg) {
                    top: 25vh;
                    height: 75vh;
                }
            }
        }

        .container-cover-wrapper {
            z-index: 10;
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-flow: row wrap;
            // flex-direction: column;            
            min-height: 100vh;
        }
    }

    .container-cover-text {
        width: 100%;
        align-self: flex-end;
    }

    .container-cover-countdown {
        flex: 1 0 auto;
        width: 100%;
        @include MQ(XLneg) {
            padding: 0 25px;
        }
        @include MQ(Lneg) {
            padding: 0 40px;
        }
        h1 {
            font-family: $Fertigo;
            color: $greenApteo;
            text-align: center;
            font-size: 6.5rem;
            line-height: 1.2;
            @include MQ(XLSneg) {
                font-size: 5.5rem;
                @include fluid-type($XL, $max-width, 36px, 55px);
            }
            @include MQ(XLneg) {
                font-size: 4.5rem;
                
                @include fluid-type($XS, $XL, 34px, 56px);
            }
            @include MQ(Mneg) {
                text-align: left;
            }

            span {
                font-family: $Barlow; 
                font-weight: $fw-semibold;
            }

            br {
                @include MQ(Mneg) {
                    display: none;
                }
            }
        }    
        h2 {
            font-family: $Fertigo;
            color: $redApteo;
            text-align: center;
            font-size: 4.5rem;
            padding: 25px 0;
            @include MQ(XLSneg) {
                font-size: 4rem;
                @include fluid-type($XL, $max-width, 26px, 40px);
            }
            @include MQ(MAXneg) {
                padding: 20px 0;
            }
            @include MQ(XLneg) {
                font-size: 3.6rem;
                
                @include fluid-type($XS, $XL, 26px, 36px);
            }
            @include MQ(Mneg) {
                text-align: left;
            }
        }

        .countdown-timer {
            .timer-wrapper {
                display: flex;
                justify-content: center;
                width: 100%;

                .timer-block {
                    $blockWidth: 80px;
                    margin-right: 15px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    position: relative;
                    @include MQ(XLneg) {
                        margin-right: 0;
                        padding-right: 10px;
                    }
                    @include MQ(Mneg) {
                        width: 25%;
                    }

                    .counter {                        
                        border-radius: 4px;
                        width: $blockWidth;
                        height: 96px;
                        display: flex;
                        align-items: center;
                        justify-content: center;                        
                        position: relative;
                        background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(100, 100, 100, 1) 100%);                       
                        text-align: center;
                        font-size: 3.8rem;
                        font-weight: $fw-bold;
                        color: $white;
                        @include MQ(XLneg) {
                            height: 64px;
                            font-size: 2.4rem;   
                            width: 100%;
                        }
                    }

                    .count {
                        z-index: 1;
                    }

                    .liner {
                        width: $blockWidth;
                        height: 2px;
                        background: linear-gradient(0, rgb(68, 68, 68) 0%, rgb(90, 90, 90) 100%);
                        border-radius: 10px;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        z-index: 0;                        
                        @include MQ(XLneg) { 
                            display: none;
                        }
                        &::before,
                        &::after {
                            content: '';
                            width: 5px;
                            height: 14px;
                            background: #c0c0c0;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            z-index: 1;
                        }

                        &::before {
                            left: 0;
                        }

                        &::after {
                            right: 0;
                        }
                    }

                    p.text-date {
                        font-family: $Fertigo;
                        font-size: 1.6rem;
                        color: $redApteo;
                        padding-top: 10px;
                        width: $blockWidth;
                        text-align: center;
                        @include MQ(XLneg) {
                            font-size: 1.4rem;
                            width: 60px;   
                        }
                    }
                }
            }
        }
    }

    .container-cover-images {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 0 40px;

        @include MQ(Lneg) {
            justify-content: center;
        }

        .image-block {
            @include MQ(XLneg) {
                &:last-of-type {
                    display: none;
                }               
            }
            img {
                width: 200px;
                max-width: auto;
                max-height: 200px;                
                @include MQ(MAXneg) {
                    max-height: vw(260);
                }
                @include MQ(XLneg) {
                    max-height: vw(360);
                }
                @include MQ(Lneg) {
                    max-height: vw(540);
                }
            }
        }
    }
}