$font-path: "fonts";
@font-face {
    font-family: 'Barlow';
    src: url('#{$font-path}/barlow/barlow-light.eot'); /* IE9 Compat Modes*/
    src: local('Barlow Light'), local('Barlow-Light'), url('#{$font-path}/barlow/barlow-light.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$font-path}/barlow/barlow-light.woff') format('woff'), /* Pretty Modern Browsers */
         url('#{$font-path}/barlow/barlow-light.woff2') format('woff2'), /* Super Modern Browsers */
         url('#{$font-path}/barlow/barlow-light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('#{$font-path}/barlow/barlow-light.svg#Barlow') format('svg');
    font-weight: 300;
}
@font-face {
    font-family: 'Barlow';
    src: url('#{$font-path}/barlow/barlow-regular.eot'); /* IE9 Compat Modes*/
    src: local('Barlow Regular'), local('Barlow-Regular'), url('#{$font-path}/barlow/barlow-regular.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$font-path}/barlow/barlow-regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('#{$font-path}/barlow/barlow-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('#{$font-path}/barlow/barlow-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('#{$font-path}/barlow/barlow-regular.svg#Barlow') format('svg');
    font-weight: 400;
}
@font-face {
    font-family: 'Barlow';
    src: url('#{$font-path}/barlow/barlow-medium.eot'); /* IE9 Compat Modes*/
    src: local('Barlow Medium'), local('Barlow-Medium'), url('#{$font-path}/barlow/barlow-medium.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$font-path}/barlow/barlow-medium.woff') format('woff'), /* Pretty Modern Browsers */
         url('#{$font-path}/barlow/barlow-medium.woff2') format('woff2'), /* Super Modern Browsers */
         url('#{$font-path}/barlow/barlow-medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('#{$font-path}/barlow/barlow-medium.svg#Barlow') format('svg');
    font-weight: 500;
}
@font-face {
    font-family: 'Barlow';
    src: url('#{$font-path}/barlow/barlow-bold.eot'); /* IE9 Compat Modes*/
    src: local('Barlow Bold'), local('Barlow-Bold'), url('#{$font-path}/barlow/barlow-bold.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$font-path}/barlow/barlow-bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('#{$font-path}/barlow/barlow-bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('#{$font-path}/barlow/barlow-bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('#{$font-path}/barlow/barlow-bold.svg#Barlow') format('svg');
    font-weight: 700;
}

// Poppins
@font-face {
    font-family: 'Poppins';
    src: url('#{$font-path}/poppins/Poppins-Regular.eot'); /* IE9 Compat Modes*/
    src: local('Poppins Regular'), local('Poppins-Regular'), url('#{$font-path}/poppins/Poppins-Regular.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$font-path}/poppins/Poppins-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('#{$font-path}/poppins/Poppins-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('#{$font-path}/poppins/Poppins-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('#{$font-path}/poppins/Poppins-Regular.svg#Poppins') format('svg');
    font-weight: 400;
}
@font-face {
    font-family: 'Poppins';
    src: url('#{$font-path}/poppins/Poppins-SemiBold.eot'); /* IE9 Compat Modes*/
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url('#{$font-path}/poppins/Poppins-SemiBold.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$font-path}/poppins/Poppins-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
         url('#{$font-path}/poppins/Poppins-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
         url('#{$font-path}/poppins/Poppins-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('#{$font-path}/poppins/Poppins-SemiBold.svg#Poppins') format('svg');
    font-weight: 600;
}

// FertigoPro
@font-face {
    font-family: 'FertigoPro-Regular';
    src: url('#{$font-path}/fertigo/FertigoPro-Regular.eot'); /* IE9 Compat Modes*/
    src: local('FertigoPro Regular'), local('FertigoPro-Regular'), url('#{$font-path}/fertigo/FertigoPro-Regular.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$font-path}/fertigo/FertigoPro-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('#{$font-path}/fertigo/FertigoPro-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('#{$font-path}/fertigo/FertigoPro-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('#{$font-path}/fertigo/FertigoPro-Regular.svg#FertigoPro-Regular') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('#{$font-path}/fontawesome/fontawesome-webfont.eot?v=3.0.1');
  src: url('#{$font-path}/fontawesome/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('#{$font-path}/fontawesome/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('#{$font-path}/fontawesome/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}