<!doctype html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Spokojne Święta</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preload" href="css/style.css" as="style">
    <link rel="stylesheet" type="text/css" href="css/style.css" />    
    <meta name="robots" content="index, follow" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Styles --> 
    <link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />
    <!-- Video.js base CSS -->
    <link href="https://unpkg.com/video.js@7/dist/video-js.min.css" rel="stylesheet"/>
    <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
    
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var preloader = function() {
            
            document.onreadystatechange = function() {
                var preloaderBlock = document.getElementById('preloader');
                var contentBlock = document.getElementById('app-content');
                if(document.readyState === 'complete') {
                    setTimeout(function() {
                        preloaderBlock.classList.add('loaded');
                    }, 1500);
                } else {
                    preloaderBlock.classList.remove('loaded');
                }
            }            
        }

        preloader();
    </script>
</head>

<body>
<div id="preloader" class="preloader-container">
    <div class="preloader-inner">
        <div class="preloader-brand">
            <img src="/img/brand/brandApteo.svg" alt="Apteo" title="Apteo">
            <p>Ładowanie treści...</p>
        </div>
    </div>
</div>
<div id="app" class="vp-app">
    <div class="mb-app-container" v-if="isMobile">
        <div class="app-container-inner">
    <div class="app-nav">
        <div class="app-return">
            <a href="/" @click.prevent="showStage(0)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-home">
                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                </svg>
            </a>
        </div>        
    </div>

    <div class="app-wrapper">
        <transition name="fade" mode="out-in">
            <!-- Entry stage -->
            <div class="stage-display" id="stage-1" v-if="stageLevel === 0" key="entry">
                <div class="app-header">
                    <h1>Prześlij swoim <br />bliskim <br />moc serdecznych <br />życzeń</h1>
                    <p class="primary-text">Wybierz swoje zdjęcia <br />wpisz życzenia</p>
                </div>

                <div class="app-content app-content--intro">
                    <img src="/img/media/app/app-xmas-tree.png" alt="Christmas Tree">
                </div>

                <div class="app-start">
                    <a href="/" @click.prevent="showStage(1)" class="button button-app-start">Rozpocznij</a>
                </div>
            </div>

            <!-- Stage I / II -->
            <div class="stage-display" id="stage-1" v-else-if="stageLevel === 1" key="primary">
                <div class="app-stage-progress">
                    <div class="app-current">
                        <p>Etap I/II</p>
                    </div>
                </div>

                <div class="app-content app-content--select">
                    <div class="app-upload">
                        <p>Pobierz zdjęcia ze swojego urządzenia</p>

                        <div class="app-upload-list">
                            <div class="app-upload-list-item" id="user-i01">
                                <uploaditem id="img-1" name="img01" />
                            </div>
                            <div class="app-upload-list-item" id="user-i02">
                                <uploaditem id="img-2" name="img02" />
                            </div>
                            <div class="app-upload-list-item" id="user-i03">
                                <uploaditem id="img-3" name="img03" />
                            </div>
                            <div class="app-upload-list-item" id="user-i04">
                                <uploaditem id="img-4" name="img04" />
                            </div>
                            <div class="app-upload-list-item" id="user-i05">
                                <uploaditem id="img-5" name="img05" />
                            </div>
                        </div>  
                    </div>
                    <div class="app-gallery">
                        <p>Pobierz zdjęcia ze swojego urządzenia</p>

                        <div id="preview-image" class="app-gallery-preview">
                            <div class="close" title="Zamknij podgląd" @click="closeModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-x">
                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                </svg>
                            </div>
                            <div class="image-container">
                                <img id="source-image" src="/img/media/xmas-thumbs/xmas-thumb_01.png" alt="Preview Image" class="gallery-item-large">

                                <div class="image-container-buttons">
                                    <button id="select-gallery-image" type="button" class="preview-button">
                                        <div class="icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                <path d="M0 0h24v24H0V0z" fill="none"/>
                                                <path d="M9 16.2l-3.5-3.5c-.39-.39-1.01-.39-1.4 0-.39.39-.39 1.01 0 1.4l4.19 4.19c.39.39 1.02.39 1.41 0L20.3 7.7c.39-.39.39-1.01 0-1.4-.39-.39-1.01-.39-1.4 0L9 16.2z"/>
                                            </svg>
                                        </div>
                                        <span class="text">Wybierz zdjęcie</span>
                                    </button>
                                    <p id="limited-selection" class="limited">Limit wybranych zdjęć został osiągnięty.</p>
                                </div>
                            </div>
                        </div>

                        <div class="app-gallery-list">
                            <galleryitem itemid="thumb-1" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_01.png" title="Image 01" />
                            </galleryitem>
                            <galleryitem itemid="thumb-2" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_02.png" title="Image 02" />
                            </galleryitem>
                            <galleryitem itemid="thumb-3" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_03.png" title="Image 03" />
                            </galleryitem>
                            <galleryitem itemid="thumb-4" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_04.png" title="Image 04" /> 
                            </galleryitem>
                            <galleryitem itemid="thumb-5" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_05.png" title="Image 05" /> 
                            </galleryitem>
                            <galleryitem itemid="thumb-6" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_06.png" title="Image 06" /> 
                            </galleryitem>
                            <galleryitem itemid="thumb-7" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_07.png" title="Image 07" /> 
                            </galleryitem>
                            <galleryitem itemid="thumb-8" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_08.png" title="Image 08" /> 
                            </galleryitem>
                            <galleryitem itemid="thumb-9" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_09.png" title="Image 09" /> 
                            </galleryitem>
                            <galleryitem itemid="thumb-10" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_10.png" title="Image 10" /> 
                            </galleryitem>
                            <galleryitem itemid="thumb-11" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_11.png" title="Image 11" /> 
                            </galleryitem>
                            <galleryitem itemid="thumb-12" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_12.png" title="Image 12" /> 
                            </galleryitem>
                            <galleryitem itemid="thumb-13" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_13.png" title="Image 13" /> 
                            </galleryitem>
                            <galleryitem itemid="thumb-14" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_14.png" title="Image 14" /> 
                            </galleryitem>
                            <galleryitem itemid="thumb-15" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_15.png" title="Image 15" /> 
                            </galleryitem>
                        </div>
                    </div>
                </div>

                <div class="app-buttons">
                    <div class="app-prev app-arrow">
                        <a href="/">
                            <img src="/img/media/app/prev.svg" alt="" @click.prevent="showStage(0)">
                        </a>
                    </div>
                    <div class="app-preview">
                        <a href="/" class="button button-app-preview" @click.prevent>Podgląd</a>
                    </div>
                    <div class="app-next app-arrow">
                        <a href="/">
                            <img src="/img/media/app/next.svg" alt="" @click.prevent="showStage(2)">
                        </a>
                    </div>
                </div>
            </div>

            <!-- Stage II / II -->
            <div class="stage-display" id="stage-2" v-else-if="stageLevel === 2" key="secondary">
                <div class="app-stage-progress">
                    <div class="app-current">
                        <p>Etap II/II</p>
                    </div>
                </div>

                <div class="app-content app-content--text">                
                    <div class="app-wishes">
                        <p>Wpisz swoje życzenia</p>        
                        
                        <div id="enter-wishes" class="textarea">
                            <label>
                                <textarea id="xmas-wishes" name="wishes" v-model="wishes" :maxlength="wishesTextLimit"></textarea>     
                            </label>
                            <div class="character-count">
                                <wordcount :charlen="wishes.length" :limit="wishesTextLimit"/>              
                            </div>
                        </div>

                    </div>

                    <div class="app-wishes-auto">
                        <p>lub pozostaw przygotowane życzenia:</p>   
                        
                        <div class="text-content">
                            <pre id="wishes-results">
                                Zdrowych, 
                                radosnych Świąt Bożego 
                                Narodzenia.
    
                                Miłości i wzruszeń,
                                radości i spełnienia 
                                marzeń oraz gwiazdki,
                                która doprowadzi wszystkich
                                do domu.
                            </pre>
                        </div>
                    </div>

                    <div class="app-buttons">
                        <div class="app-prev app-arrow">
                            <a href="/">
                                <img src="/img/media/app/prev.svg" alt="" @click.prevent="showStage(1)">
                            </a>
                        </div>
                        <div class="app-next app-arrow">
                            <a href="/">
                                <img src="/img/media/app/next.svg" alt="" @click.prevent="showStage(3)">
                            </a>
                        </div>
                    </div>
                </div>            
            </div>

            <!-- Stage Preview -->
            <div class="stage-display-preview" id="stage-2" v-else key="preview">
                <div class="app-stage-preview">
                    <div class="stage-close">
                        <div class="stage-close-inner">
                            <a href="/" @click.prevent="showStage(2)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-x">
                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="stage-preview-image">
                        <div class="image-wrapper">                        
                            <div class="tree">
                                <img src="/img/media/app/tree.png" alt="">
                            </div>
                            <div class="text">
                                <pre v-html="wishes"></pre>
                            </div>
                        </div>
                    </div>
                    <div class="stage-download">
                        <a href="/" onclick="javascript:void(0)" class="button-download">
                            <span class="text">Pobierz gotową kartkę</span>
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    class="feather feather-arrow-down">
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <polyline points="19 12 12 19 5 12"></polyline>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </transition>      
    </div>

</div>
    </div>

    <div class="page-container page-container--personalize" v-else>
        <nav class="main-nav">
    <div class="menu-container">
        <div class="menu-brand">
            <a href="https://apteo.pl/" target="_blank">
                <img src="/img/brand/brandApteo.svg" alt="Apteo" title="Apteo">
            </a>
        </div>
        <div class="menu-nav menu-nav-ar">
            <ul class="menu">
                <li>
                    <a href="/reveal.html">
                        <span class="text">Strona Główna</span>
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                class="feather feather-home">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="main-content">
    <main class="app-main">
        <div class="content-left">
            <div class="content-left-header">
                <h1>Prześlij swoim bliskim <br />moc serdecznych życzeń</h1>
            </div>
            <div class="content-left-wrapper">
                <p class="h2">Wybierz zdjęcia i zawieś <br />je na choince</p>

                <div class="star">
                    <p>Pobierz swoje zdjęcia</p>
                </div>
                <div class="crop-image-modal">
    <div class="crop-image-container">
        <div id="close-crop-modal" class="crop-image-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-x">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </div>
        <div class="crop-header">
            <p>Podgląd wybranego zdjęcia</p>
        </div>
        <div class="crop-result"></div>        
        <div class="crop-image-save">
            <button id="crop-image-start" class="btn btn-crop-save">Kadruj</button>
        </div>
    </div>

    <div class="crop-image-preview">        
        <div class="crop-image-preview-wrapper">
            <!-- <div id="crop-preview-close" class="crop-preview-close">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-x">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </div> -->
            <div class="crop-image-view">
                <img class="image-cropped" src="https://via.placeholder.com/150" alt="Cropped image">
            </div>
            <div class="crop-preview-buttons">
                <div class="crop-preview-return">
                    <button id="crop-preview-return" class="btn btn-return">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="feather feather-arrow-left">
                            <line x1="19" y1="12" x2="5" y2="12"></line>
                            <polyline points="12 19 5 12 12 5"></polyline>
                        </svg>
                    </button>
                </div>
                <div class="crop-preview-select">
                    <button id="crop-image-select" class="btn btn-select">Wybierz</button>
                </div>
            </div>
        </div>
    </div>
</div>
                
                <div class="content-upload">
                    <div class="upload-list">
                        <div class="upload-list-item" id="user-i1">
                            <label>
                                <input id="img-1" type="file" class="user-image-input" name="img01">
                                <div class="custom-upload">
                                    <img src="/img/media/app/upload.svg" alt="Upload">
                                </div>                                
                            </label>
                            <div class="cropped-item-image">
                                <div class="cropped-item-delete" title="Usuń zdjęcie">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-x">
                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg>
                                </div>
                                <div class="cropped-item-wrapper" draggable="true" data-id="user-i1"></div>
                            </div>
                        </div>
                        <div class="upload-list-item" id="user-i2">
                            <label>
                                <input id="img-2" type="file" class="user-image-input" name="img02">
                                <div class="custom-upload">
                                    <img src="/img/media/app/upload.svg" alt="Upload">
                                </div>
                            </label>
                            <div class="cropped-item-image">
                                <div class="cropped-item-delete" title="Usuń zdjęcie">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-x">
                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg>
                                </div>
                                <div class="cropped-item-wrapper" draggable="true" data-id="user-i2"></div>
                            </div>
                        </div>
                        <div class="upload-list-item" id="user-i3">
                            <label>
                                <input id="img-3" type="file" class="user-image-input" name="img03">
                                <div class="custom-upload">
                                    <img src="/img/media/app/upload.svg" alt="Upload">
                                </div>
                            </label>
                            <div class="cropped-item-image" >
                                <div class="cropped-item-delete" title="Usuń zdjęcie">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-x">
                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg>
                                </div>
                                <div class="cropped-item-wrapper" draggable="true" data-id="user-i3"></div>
                            </div>
                        </div>
                        <div class="upload-list-item" id="user-i4">
                            <label>
                                <input id="img-4" type="file" class="user-image-input" name="img04">
                                <div class="custom-upload">
                                    <img src="/img/media/app/upload.svg" alt="Upload">
                                </div>
                            </label>
                            <div class="cropped-item-image">
                                <div class="cropped-item-delete" title="Usuń zdjęcie">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-x">
                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg>
                                </div>
                                <div class="cropped-item-wrapper" draggable="true" data-id="user-i4"></div>
                            </div>
                        </div>
                        <div class="upload-list-item" id="user-i5">
                            <label>
                                <input id="img-5" type="file" class="user-image-input" name="img05">
                                <div class="custom-upload">
                                    <img src="/img/media/app/upload.svg" alt="Upload">
                                </div>
                            </label>
                            <div class="cropped-item-image">
                                <div class="cropped-item-delete" title="Usuń zdjęcie">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-x">
                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg>
                                </div>
                                <div class="cropped-item-wrapper" draggable="true" data-id="user-i1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="star">
                    <p>Uzupełnij zdjęciami z naszej bazy:</p>
                </div>
                <div class="content-gallery">

                    <div class="gallery-list">

                        <div id="large-image" class="gallery-item-preview">
                            <div class="close" title="Zamknij podgląd">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-x">
                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                </svg>
                            </div>
                            <div class="image-container">
                                <img id="preview-image" src="/img/media/xmas-thumbs/xmas-thumb_01.png" alt="Preview Image" class="gallery-item-large">
                            </div>
                        </div>
                        
                        <div class="gallery-row">
                            <div id="thumbg_1" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_01.png" alt="thumb 01" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_2" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_02.png" alt="thumb 02" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_3" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_03.png" alt="thumb 03" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_4" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_04.png" alt="thumb 04" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_5" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_05.png" alt="thumb 05" class="gallery-item-thumb">
                                </div>
                            </div>
                        </div>

                        <div class="gallery-row">
                            <div id="thumbg_6" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_06.png" alt="thumb 06" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_7" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_07.png" alt="thumb 07" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_8" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_08.png" alt="thumb 08" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_9" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_09.png" alt="thumb 09" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_10" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_10.png" alt="thumb 10" class="gallery-item-thumb">
                                </div>
                            </div>
                        </div>

                        <div class="gallery-row">
                            <div id="thumbg_11" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_11.png" alt="thumb 11" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_12" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_12.png" alt="thumb 12" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_13" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_13.png" alt="thumb 13" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_14" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_14.png" alt="thumb 14" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_15" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_15.png" alt="thumb 15" class="gallery-item-thumb">
                                </div>
                            </div>
                        </div>
                        <div class="gallery-row">
                            <div id="thumbg_16" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_16.png" alt="thumb 16" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_17" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_17.png" alt="thumb 17" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_18" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_18.png" alt="thumb 18" class="gallery-item-thumb">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="content-right">

            <div class="content-wrapper">
                <div class="star">
                    <p>Jeśli chcesz, możesz edytować życzenia na kartce <br /><small class="instruction-label">(kliknij w gotowy tekst, by pojawiło się okno edycji).</small></p>
                </div>

                <div class="card-wrapper">
                    <figure>
                        <div class="card-bg"></div>
                        <figcaption>
                            <div class="tree-wrapper">
                                <svg id="xmas-ball-map" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 375 489.6">
                                    <image transform="scale(0.54)" xlink:href="/img/media/app/tree.png"/>
                                    <g class="position-points">
                                        <circle id="xball_01" cx="159.841" cy="75.291" r="22.147"/>
                                        <circle id="xball_02" cx="211.894" cy="134.552" r="16.92"/>
                                        <circle id="xball_03" cx="152.277" cy="170.596" r="30.368"/>
                                        <circle id="xball_04" cx="100.83" cy="261.617" r="23.163"/>
                                        <circle id="xball_05" cx="235.468" cy="230.468" r="26.239"/>
                                        <circle id="xball_06" cx="170.106" cy="264.851" r="20.208"/>
                                        <circle id="xball_07" cx="150.383" cy="332.255" r="24.458"/>
                                        <circle id="xball_08" cx="223.745" cy="311" r="31.785"/>
                                        <circle id="xball_09" cx="72.064" cy="346.319" r="26.95"/>
                                        <circle id="xball_10" cx="110.511" cy="420.894" r="20.515"/>
                                        <circle id="xball_11" cx="194.521" cy="410.136" r="28.899"/>
                                        <circle id="xball_12" cx="290.064" cy="410.638" r="18.347"/>
                                    </g>
                                </svg>

                                <div id="xmasball_01" class="xmas-ball xmas-ball-custom dropzone" title="xmasball_01"></div>
                                <div id="xmasball_02" class="xmas-ball xmas-ball-custom dropzone" title="xmasball_02"></div>
                                <div id="xmasball_03" class="xmas-ball xmas-ball-custom dropzone" title="xmasball_03"></div>
                                <div id="xmasball_04" class="xmas-ball xmas-ball-custom dropzone" title="xmasball_04"></div>
                                <div id="xmasball_05" class="xmas-ball xmas-ball-custom dropzone" title="xmasball_05"></div>
                                <div id="xmasball_06" class="xmas-ball xmas-ball-custom dropzone" title="xmasball_06"></div>
                                <div id="xmasball_07" class="xmas-ball xmas-ball-custom dropzone" title="xmasball_07"></div>
                                <div id="xmasball_08" class="xmas-ball xmas-ball-custom dropzone" title="xmasball_08"></div>
                                <div id="xmasball_09" class="xmas-ball xmas-ball-custom dropzone" title="xmasball_09"></div>
                                <div id="xmasball_10" class="xmas-ball xmas-ball-custom dropzone" title="xmasball_10"></div>
                                <div id="xmasball_11" class="xmas-ball xmas-ball-custom dropzone" title="xmasball_11"></div>
                                <div id="xmasball_12" class="xmas-ball xmas-ball-custom dropzone" title="xmasball_12"></div>
                            </div>
                            <div class="xmas-wishes">
                                <div id="wishes-results">
                                    <p>
                                        Zdrowych, <br>
                                        radosnych Świąt Bożego <br>
                                        Narodzenia. <br>

                                        Miłości i wzruszeń, <br>
                                        radości i spełnienia <br>
                                        marzeń <br>
                                        oraz gwiazdki, <br>
                                        która doprowadzi <br>
                                        wszystkich do domu.
                                    </p>
                                </div>

                                <div id="enter-wishes" class="hidden-textarea">
                                    <div class="textarea">
                                        <label>
                                            <textarea id="xmas-wishes" name="wishes" placeholder="Wprowadź swoje życzenia"></textarea>     
                                        </label>
                                        <div class="character-count">
                                            <p>
                                                <span id="wordcount">0</span> / <span id="wordlimit">0</span> znaków
                                            </p>
                                        </div>
                                    </div>
                                    <div class="action">
                                        <div class="action-cancel">
                                            <button type="button" id="wishes-reset">Anuluj</button>
                                        </div>
                                        <div class="action-save">
                                            <button type="button" id="wishes-confirm">Zapisz</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figcaption>
                    </figure>

                    <div class="download">
                        <a id="card_download" class="button card_download">
                            <span class="text">Pobierz gotową kartkę</span>
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    class="feather feather-arrow-down">
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <polyline points="19 12 12 19 5 12"></polyline>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="star">
                    <p>Pobierz ją i prześlij za pomocą e-mail do rodziny czy znajomych</p>
                </div>
            </div>

        </div>
    </main>
</div>
<footer>
    <div class="footer-container">
        <div class="partner">
            <img src="/img/brand/synoptisPharma.svg" alt="Synoptis Pharma" title="Synoptis Pharma">
        </div>
        <div class="createdby">
            <p>Created by <a href="https://nekk.pl/" target="_blank">nekk</a></p>
        </div>
    </div>
</footer>         
    </div>
</div>

<div class="cookies-alert">
    <p>
        <strong>Strona stosuje pliki cookies. </strong>Korzystanie ze strony oznacza zgodę na wykorzystanie plików cookies zgodnie z <a href="pliki/polityka_cookies.pdf" target="_blank" rel="noopener noreferrer">Polityką cookies</a>.
    </p>
    <button name="accept-cookies" class="white cookies-button">Akceptuję</button>
</div>

<script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="js/vendors.js"></script>
<script src="js/dragndrop.js"></script>

<script type="text/javascript">
    function viewportdisplay(e) {
        var script = document.createElement('script');
        script.type = 'text/javascript';

        if (window.innerWidth > 992) {
            script.src = '/js/main.js';

            document.body.append(script);
        } else {
            script.src = '/js/mobile-app.js';

            document.body.append(script);
        }
    }

    viewportdisplay();
</script>
</body>

</html>