.mb-app-container {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
    

    &::before {
        content: '';
        position: fixed;
        top: 0;left: 0;bottom: 0;right: 0;
        background: url('../img/media/app/mb-pattern.svg') repeat;
        background-size: cover;
        background-position: center;
        z-index: -1;
        width: 100vw;
        height: 100vh;
    }
    &::after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        min-width: 100vw;
        min-height: 100vh;
        background: linear-gradient(45deg, $app-gr1 0%, $app-gr2 100%);
        z-index: -2;
    }

    // &::before {
    //     content: '';
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     width: 100vw;
    //     height: 100vh;
    //     background: url('../img/media/app/ramka.svg') no-repeat;
    //     background-position: center;
    //     background-size: cover;     
    // }

    .app-container-inner {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 25px;
        z-index: 0;
        &::before {
            content: '';
            background: linear-gradient(45deg, $app-gr1 0%, $app-gr2 100%);
            position: fixed;
            top: 50%;
            left: 50%;
            width: calc(100% - 25px);
            height: calc(100% - 25px);
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }

    .stage-wrapper {
        position: absolute;
        top: 0;
        left: 0;
    }

    .app-nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .app-return {
            width: 100%;

            a {
                display: block;
                margin: 0 auto;
                max-width: 150px;
                padding: 10px;
            }

            svg {
                display: block;
                margin: 0 auto;
                width: 28px;
                height: 28px;
                stroke: $redApteo;
            }
        }
    }
    
    .app-wrapper {
        height: 100%;
    }

    .app-header {
        margin: 10px 0;

        h1 {
            font-family: $Fertigo;
            font-size: 2.4rem;
            line-height: 1.2;
            text-align: center;
            color: $greenApteo;
        }

        .primary-text {
            font-size: 1.6rem;
            font-family: $Poppins;
            font-weight: 600;
            text-align: center;
            padding: 15px 0;
        }
    }


    .app-stage-progress {
        padding-top: 10px;
        margin-bottom: 10px;
        margin-top: -5px;

        .app-current {
            p {
                font-size: 1.8rem;
                color: $defaultBlack;
                text-align: center;
                font-family: $Poppins;
            }
        }
    }

    .app-content {
        justify-self: center;
        flex: 1 0 auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &--intro {
            img {
                width: 100%;
                max-width: 160px;
                display: block;
                margin: 0 auto;
                padding: 10px;
            }
        }

        &--select {
            max-width: 440px;
            padding: 0 25px;
            margin: 0 auto;

            @include MQ(SMneg) {
                padding: 0;
            }

            p {
                font-size: 2rem;
                text-align: center;
                color: $greenApteo;
                line-height: 1.4;
                font-family: $Fertigo;
            }

            .app-upload,
            .app-gallery {
                width: 100%;
            }

            .app-gallery-preview {
                display: none;
                
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgba(0,0,0,.6);
                align-items: center;
                justify-content: center;
                z-index: 100;
                padding: 25px;

                &.active-preview {
                    display: flex;
                }

                img {
                    z-index: -1;
                    width: 100%;
                    max-width: 540px;
                    padding: 25px;
                }

                .close {
                    position: absolute;
                    top: 25px;
                    right: 25px;
                    background: $white;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    cursor: pointer;
                    transition: .2s all ease-out;
                    &:hover {
                        background: $redApteo;
                        svg {
                            stroke: $white;
                        }
                    }
                    svg {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 26px;
                        height: 26px;
                        stroke: $redApteo;
                        transition: .2s all ease-out;
                    }
                }

                .image-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;

                    .image-container-buttons {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        padding: 25px 0 0;
                        button {
                            width: 200px;
                            padding: 15px 25px;
                            border-radius: 8px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: $redApteo;
                            color: $white;
                            font-size: 1.6rem;
                            font-family: $Fertigo;
                            text-align: center;
                            position: relative;
                            .icon {
                                display: none;
                                align-items: center;
                                justify-content: center;
                                position: absolute;
                                left: -20px;
                                width: 50px;
                                height: 100%;
                                border-radius: 25px;
                                box-shadow: 4px 0 10px 0 transparentize($defaultBlack, .8);
                                transition: .2s all ease;
                            }
                            svg {
                                width: 26px;
                                height: 26px;
                            }

                            &.preview-button-selected {
                                background: $white;
                                color: $redApteo;
                                .icon {
                                    background: $redApteo;
                                    display: flex;
                                    svg {
                                        fill: $white;
                                    }
                                }
                            }
                        }

                        .limited {
                            font-size: 1.6rem;
                            color: $redApteo;
                            font-family: $Poppins;
                            font-weight: 500;
                            text-align: center;
                            padding: 10px 15px;
                            background: $white;
                            border-radius: 8px;

                            display: none;
                        }
                    }
                }
            }

            .app-upload-list {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                margin-top: 15px;
                margin-bottom: 15px;
                padding: 0 10px;
            }

            .app-gallery-list {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-flow: row wrap;
                width: 100%;
                margin-top: 15px;
                margin-bottom: 15px;
                padding: 0 10px;
            }

            .app-upload-list-item {
                $containerSize: 48px;
                // flex: 1 0 20%;
                width: 100%;

                // max-width: $containerSize;
                // margin-right: 10px;
                label {
                    flex: 1 0 20%;
                    // width: $containerSize;
                    height: $containerSize;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    position: relative;
                    z-index: 0;

                    &::before {
                        content: '';
                        border: 2px dotted $defaultBlack;

                        border-radius: 24px;
                        z-index: -1;
                        width: $containerSize;
                        height: $containerSize;
                        flex: 1 0 20%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }

                    input.user-image-input {
                        display: none;
                    }

                    .custom-upload {
                        display: flex;
                        align-items: center;

                        svg {
                            stroke: $defaultBlack;
                        }
                    }
                }
            }

            .app-gallery-item {
                width: 20%;
                margin: 0 0 5%;

                cursor: pointer;   
                font-size: 0;   
                position: relative;
                z-index: 0;            

                transition: .2s all ease;

                &.selected {
                    &::before {
                        background: transparentize($redApteo, .5);
                    }
                    &::after {
                        content: url('../img/icons/icon-check.svg');
                        opacity: 1;
                        @include backdrop-blur(2.5px, $redApteo);
                    }
                    &:hover {
                        &::before {
                            background: transparentize($redApteo, .5);
                        }
                    }
                }
                &.preview {
                    img {
                        position: relative;
                        z-index: 0;
                    }
                }
                &::before {
                    transition: .2s all ease-out;
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 46px;
                    height: 46px;
                    background: transparentize($white, 1);
                    z-index: 1;
                    border-radius: 24px;
                }        
                &::after {
                    transition: .2s all ease-out;
                    content: url('../img/icons/icon-view.svg');
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 36px;
                    height: 36px;
                    // width: 48px;
                    // height: 48px;
                    z-index: 1;
                    border-radius: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    @include backdrop-blur(2.5px, $white);
                }

                img {
                    width: 100%;
                    max-width: 48px;
                    margin: 0 auto;
                    display: block;
                    transition: .3s all ease;
                    position: relative;
                    // z-index: 0;

                    // &::before {
                    //     content: '';
                    //     background: transparentize($redApteo, 1);
                    //     transition: .3s all ease;
                    //     position: absolute;
                    //     top: 0;
                    //     left: 0;
                    //     width: 100%;
                    //     height: 100%;
                    //     z-index: -1;
                    // }

                    // &.selected {
                    //     &::before {
                    //         background: transparentize($redApteo, .5);                            
                    //     }
                    // }
                }
            }            
        }

        &--text {

            .app-wishes,
            .app-wishes-auto {
                p {
                    font-size: 1.8rem;
                    text-align: center;
                    color: $greenApteo;
                    line-height: 1.4;
                    font-family: $Fertigo;
                }
            }

            .app-wishes {
                flex: 1 0 auto;
                display: flex;
                align-items: center;
                width: 100%;
                flex-direction: column;
                padding-bottom: 15px;

                .textarea {
                    width: calc(100% - 50px);
                    margin: 15px 0;
                    border: 2px dotted $defaultBlack;
                    border-radius: 12px;

                }

                label {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    position: relative;


                    textarea {
                        padding: 15px 25px;
                        width: 100%;
                        box-shadow: none;
                        outline: none;
                        border: none;
                        background: none;
                        border-radius: 12px;
                        margin: 0;
                        color: $redApteo;
                        font-family: $Fertigo;
                        font-size: 1.6rem;
                        resize: none;
                        text-align: center;
                        line-height: 1.4;
                        height: 100px;
                        transition: .3s all ease-out;

                        &:focus {
                            height: 200px;
                        }
                    }
                }

                .character-count {
                    flex: 1;
                    padding: 0 25px 10px;
                    margin: 10px auto 0;

                    p {
                        text-align: center;
                        color: $defaultBlack;
                        font-size: 1.4rem;
                        font-family: $Poppins;
                        font-weight: 600;
                    }
                }
            }

            .app-wishes-auto {
                .text-content {
                    padding: 15px 0;
                    display: block;

                }

                pre {
                    font-size: 1.6rem;
                    color: $redApteo;
                    font-family: $Fertigo;
                    font-weight: 600;
                    line-height: 1.4;
                    text-align: center;

                    white-space: pre-line;
                }
            }

            .app-buttons {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                max-width: 250px;

                .app-arrow {
                    width: 36px;
                    display: flex;
                    align-items: center;

                    &.app-prev {
                        justify-content: flex-start;
                    }

                    &.app-next {
                        justify-content: flex-end;
                    }
                }
            }
        }
    }

    .app-start {
        justify-self: flex-end;
        margin-top: 10px;

        a {
            background: $redApteo;
            display: block;
            margin: 0 auto;
            padding: 10px 12px;
            font-size: 1.6rem;
            font-family: $Fertigo;
            color: $white;
            max-width: 150px;
            text-align: center;
            border-radius: 12px;
        }
    }

    .app-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 250px;
        margin: 0 auto;

        .app-arrow {
            width: 36px;
            display: flex;
            align-items: center;

            &.app-prev {
                justify-content: flex-start;
            }

            &.app-next {
                justify-content: flex-end;
            }
        }

        .app-preview {
            flex: 1;
            align-self: center;
            padding: 0 15px;

            a {
                background: $greenApteo;
                display: block;
                margin: 0 auto;
                padding: 10px 12px;
                font-size: 1.6rem;
                font-family: $Fertigo;
                color: $white;
                width: 150px;
                text-align: center;
                border-radius: 12px;
            }
        }

        .app-arrow {
            a {
                display: flex;
                align-items: center;
            }
            a img {
                width: 100%;
                max-width: 32px;
            }
        }
    }

    .stage-display {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }

    .stage-display-preview {
        background: $white;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        .app-stage-preview {
            background: transparentize($defaultBlack, .5);
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow-y: auto;

            .stage-close {
                width: 100%;
                padding: 25px;
                display: flex;
                justify-content: flex-end;           
                flex: 1 0 auto;    
            }

            .stage-close-inner {
                width: relative;
                height: 36px;
                a {
                    border: 2px solid $white;
                    width: 36px;
                    height: 36px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 18px;
                }

                svg {
                    width: 22px;
                    height: 22px;
                }
            }            

            .stage-preview-image {
                width: 100%;
                height: 50%;
                flex: 1 0 auto;
                
                .image-wrapper {
                    background: linear-gradient(45deg, $app-gr1 0%, $app-gr2 100%);

                    height: 100%;
                    position: relative;
                    max-height: 440px;
                    z-index: 0;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: url('../img/media/app/mb-pattern.svg') repeat;
                        background-size: cover;
                        background-position: center;
                        z-index: -1;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: calc(100% - 25px);
                        height: calc(100% - 25px);
                        background: linear-gradient(45deg, $app-gr1 0%, $app-gr2 100%);
                        z-index: 0;
                    }
                    .tree {
                        position: relative;
                        width: 90%;
                        height: 100%;
                        z-index: 1;
                        img {
                            width: auto;
                            height: auto;
                            max-width: 60%;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                        }                        
                    }    
                    .text {
                        width: 40%;
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        z-index: 1;
                        pre {
                            font-size: 1.2rem;
                            color: $redApteo;
                            font-family: $Fertigo;
                            font-weight: 600;
                            line-height: 1.4;
                            text-align: center;

                            white-space: pre-line;
                            width: 100%;
                            padding: 0 25px;
                        }
                    }                
                }
            }

            .stage-download {
                width: 100%;
                height: auto;
                padding: 25px;
                display: flex;
                align-items: flex-end;

                a.button-download {
                    background: $redApteo;
                    color: $white;
                    font-family: $Fertigo;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    max-width: 320px;
                    margin: 0 auto;
                    padding: 10px 16px;
                    border-radius: 8px;
                    transition: .3s all ease-out;
                    font-size: 1.8rem;

                    @include MQ(SMneg) {
                        font-size: 1.6rem;
                    }

                    .text {
                        flex-grow: 1;
                    }

                    &:hover {
                        background: darken($redApteo, 3%);

                        .icon {                            
                            svg {
                                transform: translateY(3px);
                            }
                        }
                    }
                }

                .icon {
                    border: 2px solid $white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 5px;
                    border-radius: 100px;
                    svg {
                        transition: .3s all ease-out;
                    }
                }
            }
        }
    }
}