<div class="app-container-inner">
    <div class="app-nav">
        <div class="app-return">
            <a href="/" @click.prevent="showStage(0)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-home">
                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                </svg>
            </a>
        </div>        
    </div>

    <div class="app-wrapper">
        <transition name="fade" mode="out-in">
            <!-- Entry stage -->
            <div class="stage-display" id="stage-1" v-if="stageLevel === 0" key="entry">
                <div class="app-header">
                    <h1>Prześlij swoim <br />bliskim <br />moc serdecznych <br />życzeń</h1>
                    <p class="primary-text">Wybierz swoje zdjęcia <br />wpisz życzenia</p>
                </div>

                <div class="app-content app-content--intro">
                    <img src="/img/media/app/app-xmas-tree.png" alt="Christmas Tree">
                </div>

                <div class="app-start">
                    <a href="/" @click.prevent="showStage(1)" class="button button-app-start">Rozpocznij</a>
                </div>
            </div>

            <!-- Stage I / II -->
            <div class="stage-display" id="stage-1" v-else-if="stageLevel === 1" key="primary">
                <div class="app-stage-progress">
                    <div class="app-current">
                        <p>Etap I/II</p>
                    </div>
                </div>

                <div class="app-content app-content--select">
                    <div class="app-upload">
                        <p>Pobierz zdjęcia ze swojego urządzenia</p>

                        <div class="app-upload-list">
                            <div class="app-upload-list-item" id="user-i01">
                                <uploaditem id="img-1" name="img01" />
                            </div>
                            <div class="app-upload-list-item" id="user-i02">
                                <uploaditem id="img-2" name="img02" />
                            </div>
                            <div class="app-upload-list-item" id="user-i03">
                                <uploaditem id="img-3" name="img03" />
                            </div>
                            <div class="app-upload-list-item" id="user-i04">
                                <uploaditem id="img-4" name="img04" />
                            </div>
                            <div class="app-upload-list-item" id="user-i05">
                                <uploaditem id="img-5" name="img05" />
                            </div>
                        </div>  
                    </div>
                    <div class="app-gallery">
                        <p>Pobierz zdjęcia ze swojego urządzenia</p>

                        <div id="preview-image" class="app-gallery-preview">
                            <div class="close" title="Zamknij podgląd" @click="closeModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-x">
                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                </svg>
                            </div>
                            <div class="image-container">
                                <img id="source-image" src="/img/media/xmas-thumbs/xmas-thumb_01.png" alt="Preview Image" class="gallery-item-large">

                                <div class="image-container-buttons">
                                    <button id="select-gallery-image" type="button" class="preview-button">
                                        <div class="icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                <path d="M0 0h24v24H0V0z" fill="none"/>
                                                <path d="M9 16.2l-3.5-3.5c-.39-.39-1.01-.39-1.4 0-.39.39-.39 1.01 0 1.4l4.19 4.19c.39.39 1.02.39 1.41 0L20.3 7.7c.39-.39.39-1.01 0-1.4-.39-.39-1.01-.39-1.4 0L9 16.2z"/>
                                            </svg>
                                        </div>
                                        <span class="text">Wybierz zdjęcie</span>
                                    </button>
                                    <p id="limited-selection" class="limited">Limit wybranych zdjęć został osiągnięty.</p>
                                </div>
                            </div>
                        </div>

                        <div class="app-gallery-list">
                            <galleryitem itemid="thumb-1" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_01.png" title="Image 01" />
                            </galleryitem>
                            <galleryitem itemid="thumb-2" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_02.png" title="Image 02" />
                            </galleryitem>
                            <galleryitem itemid="thumb-3" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_03.png" title="Image 03" />
                            </galleryitem>
                            <galleryitem itemid="thumb-4" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_04.png" title="Image 04" /> 
                            </galleryitem>
                            <galleryitem itemid="thumb-5" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_05.png" title="Image 05" /> 
                            </galleryitem>
                            <galleryitem itemid="thumb-6" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_06.png" title="Image 06" /> 
                            </galleryitem>
                            <galleryitem itemid="thumb-7" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_07.png" title="Image 07" /> 
                            </galleryitem>
                            <galleryitem itemid="thumb-8" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_08.png" title="Image 08" /> 
                            </galleryitem>
                            <galleryitem itemid="thumb-9" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_09.png" title="Image 09" /> 
                            </galleryitem>
                            <galleryitem itemid="thumb-10" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_10.png" title="Image 10" /> 
                            </galleryitem>
                            <galleryitem itemid="thumb-11" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_11.png" title="Image 11" /> 
                            </galleryitem>
                            <galleryitem itemid="thumb-12" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_12.png" title="Image 12" /> 
                            </galleryitem>
                            <galleryitem itemid="thumb-13" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_13.png" title="Image 13" /> 
                            </galleryitem>
                            <galleryitem itemid="thumb-14" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_14.png" title="Image 14" /> 
                            </galleryitem>
                            <galleryitem itemid="thumb-15" :selectitem="selected">
                                <thumb source="/img/media/xmas-thumbs/xmas-thumb_15.png" title="Image 15" /> 
                            </galleryitem>
                        </div>
                    </div>
                </div>

                <div class="app-buttons">
                    <div class="app-prev app-arrow">
                        <a href="/">
                            <img src="/img/media/app/prev.svg" alt="" @click.prevent="showStage(0)">
                        </a>
                    </div>
                    <div class="app-preview">
                        <a href="/" class="button button-app-preview" @click.prevent>Podgląd</a>
                    </div>
                    <div class="app-next app-arrow">
                        <a href="/">
                            <img src="/img/media/app/next.svg" alt="" @click.prevent="showStage(2)">
                        </a>
                    </div>
                </div>
            </div>

            <!-- Stage II / II -->
            <div class="stage-display" id="stage-2" v-else-if="stageLevel === 2" key="secondary">
                <div class="app-stage-progress">
                    <div class="app-current">
                        <p>Etap II/II</p>
                    </div>
                </div>

                <div class="app-content app-content--text">                
                    <div class="app-wishes">
                        <p>Wpisz swoje życzenia</p>        
                        
                        <div id="enter-wishes" class="textarea">
                            <label>
                                <textarea id="xmas-wishes" name="wishes" v-model="wishes" :maxlength="wishesTextLimit"></textarea>     
                            </label>
                            <div class="character-count">
                                <wordcount :charlen="wishes.length" :limit="wishesTextLimit"/>              
                            </div>
                        </div>

                    </div>

                    <div class="app-wishes-auto">
                        <p>lub pozostaw przygotowane życzenia:</p>   
                        
                        <div class="text-content">
                            <pre id="wishes-results">
                                Zdrowych, 
                                radosnych Świąt Bożego 
                                Narodzenia.
    
                                Miłości i wzruszeń,
                                radości i spełnienia 
                                marzeń oraz gwiazdki,
                                która doprowadzi wszystkich
                                do domu.
                            </pre>
                        </div>
                    </div>

                    <div class="app-buttons">
                        <div class="app-prev app-arrow">
                            <a href="/">
                                <img src="/img/media/app/prev.svg" alt="" @click.prevent="showStage(1)">
                            </a>
                        </div>
                        <div class="app-next app-arrow">
                            <a href="/">
                                <img src="/img/media/app/next.svg" alt="" @click.prevent="showStage(3)">
                            </a>
                        </div>
                    </div>
                </div>            
            </div>

            <!-- Stage Preview -->
            <div class="stage-display-preview" id="stage-2" v-else key="preview">
                <div class="app-stage-preview">
                    <div class="stage-close">
                        <div class="stage-close-inner">
                            <a href="/" @click.prevent="showStage(2)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-x">
                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="stage-preview-image">
                        <div class="image-wrapper">                        
                            <div class="tree">
                                <img src="/img/media/app/tree.png" alt="">
                            </div>
                            <div class="text">
                                <pre v-html="wishes"></pre>
                            </div>
                        </div>
                    </div>
                    <div class="stage-download">
                        <a href="/" onclick="javascript:void(0)" class="button-download">
                            <span class="text">Pobierz gotową kartkę</span>
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    class="feather feather-arrow-down">
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <polyline points="19 12 12 19 5 12"></polyline>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </transition>      
    </div>

</div>