<nav class="main-nav">
    <div class="menu-container">
        <div class="menu-brand">
            <a href="https://apteo.pl/" target="_blank">
                <img src="/img/brand/brandApteo.svg" alt="Apteo" title="Apteo">
            </a>
        </div>
        <div class="menu-nav menu-nav-ar">
            <ul class="menu">
                <li>
                    <a href="/reveal.html">
                        <span class="text">Strona Główna</span>
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                class="feather feather-home">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="main-content">
    <main class="app-main">
        <div class="content-left">
            <div class="content-left-header">
                <h1>Prześlij swoim bliskim <br />moc serdecznych życzeń</h1>
            </div>
            <div class="content-left-wrapper">
                <p class="h2">Wybierz zdjęcia i zawieś <br />je na choince</p>

                <div class="star">
                    <p>Pobierz swoje zdjęcia</p>
                </div>
                @@include('../../modules/imagecrop.html')
                
                <div class="content-upload">
                    <div class="upload-list">
                        <div class="upload-list-item" id="user-i1">
                            <label>
                                <input id="img-1" type="file" class="user-image-input" name="img01">
                                <div class="custom-upload">
                                    <img src="/img/media/app/upload.svg" alt="Upload">
                                </div>                                
                            </label>
                            <div class="cropped-item-image">
                                <div class="cropped-item-delete" title="Usuń zdjęcie">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-x">
                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg>
                                </div>
                                <div class="cropped-item-wrapper" draggable="true" data-id="user-i1"></div>
                            </div>
                        </div>
                        <div class="upload-list-item" id="user-i2">
                            <label>
                                <input id="img-2" type="file" class="user-image-input" name="img02">
                                <div class="custom-upload">
                                    <img src="/img/media/app/upload.svg" alt="Upload">
                                </div>
                            </label>
                            <div class="cropped-item-image">
                                <div class="cropped-item-delete" title="Usuń zdjęcie">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-x">
                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg>
                                </div>
                                <div class="cropped-item-wrapper" draggable="true" data-id="user-i2"></div>
                            </div>
                        </div>
                        <div class="upload-list-item" id="user-i3">
                            <label>
                                <input id="img-3" type="file" class="user-image-input" name="img03">
                                <div class="custom-upload">
                                    <img src="/img/media/app/upload.svg" alt="Upload">
                                </div>
                            </label>
                            <div class="cropped-item-image" >
                                <div class="cropped-item-delete" title="Usuń zdjęcie">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-x">
                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg>
                                </div>
                                <div class="cropped-item-wrapper" draggable="true" data-id="user-i3"></div>
                            </div>
                        </div>
                        <div class="upload-list-item" id="user-i4">
                            <label>
                                <input id="img-4" type="file" class="user-image-input" name="img04">
                                <div class="custom-upload">
                                    <img src="/img/media/app/upload.svg" alt="Upload">
                                </div>
                            </label>
                            <div class="cropped-item-image">
                                <div class="cropped-item-delete" title="Usuń zdjęcie">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-x">
                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg>
                                </div>
                                <div class="cropped-item-wrapper" draggable="true" data-id="user-i4"></div>
                            </div>
                        </div>
                        <div class="upload-list-item" id="user-i5">
                            <label>
                                <input id="img-5" type="file" class="user-image-input" name="img05">
                                <div class="custom-upload">
                                    <img src="/img/media/app/upload.svg" alt="Upload">
                                </div>
                            </label>
                            <div class="cropped-item-image">
                                <div class="cropped-item-delete" title="Usuń zdjęcie">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-x">
                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg>
                                </div>
                                <div class="cropped-item-wrapper" draggable="true" data-id="user-i1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="star">
                    <p>Uzupełnij zdjęciami z naszej bazy:</p>
                </div>
                <div class="content-gallery">

                    <div class="gallery-list">

                        <div id="large-image" class="gallery-item-preview">
                            <div class="close" title="Zamknij podgląd">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-x">
                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                </svg>
                            </div>
                            <div class="image-container">
                                <img id="preview-image" src="/img/media/xmas-thumbs/xmas-thumb_01.png" alt="Preview Image" class="gallery-item-large">
                            </div>
                        </div>
                        
                        <div class="gallery-row">
                            <div id="thumbg_1" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_01.png" alt="thumb 01" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_2" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_02.png" alt="thumb 02" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_3" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_03.png" alt="thumb 03" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_4" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_04.png" alt="thumb 04" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_5" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_05.png" alt="thumb 05" class="gallery-item-thumb">
                                </div>
                            </div>
                        </div>

                        <div class="gallery-row">
                            <div id="thumbg_6" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_06.png" alt="thumb 06" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_7" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_07.png" alt="thumb 07" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_8" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_08.png" alt="thumb 08" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_9" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_09.png" alt="thumb 09" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_10" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_10.png" alt="thumb 10" class="gallery-item-thumb">
                                </div>
                            </div>
                        </div>

                        <div class="gallery-row">
                            <div id="thumbg_11" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_11.png" alt="thumb 11" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_12" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_12.png" alt="thumb 12" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_13" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_13.png" alt="thumb 13" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_14" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_14.png" alt="thumb 14" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_15" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_15.png" alt="thumb 15" class="gallery-item-thumb">
                                </div>
                            </div>
                        </div>
                        <div class="gallery-row">
                            <div id="thumbg_16" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_16.png" alt="thumb 16" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_17" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_17.png" alt="thumb 17" class="gallery-item-thumb">
                                </div>
                            </div>
                            <div id="thumbg_18" class="gallery-item" draggable="true">
                                <div class="gallery-item-draggable">
                                    <img src="/img/media/xmas-thumbs/xmas-thumb_18.png" alt="thumb 18" class="gallery-item-thumb">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="content-right">

            <div class="content-wrapper">
                <div class="star">
                    <p>Jeśli chcesz, możesz edytować życzenia na kartce <br /><small class="instruction-label">(kliknij w gotowy tekst, by pojawiło się okno edycji).</small></p>
                </div>

                <div class="card-wrapper">
                    <figure>
                        <div class="card-bg"></div>
                        <figcaption>
                            <div class="tree-wrapper">
                                <svg id="xmas-ball-map" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 375 489.6">
                                    <image transform="scale(0.54)" xlink:href="/img/media/app/tree.png"/>
                                    <g class="position-points">
                                        <circle id="xball_01" cx="159.841" cy="75.291" r="22.147"/>
                                        <circle id="xball_02" cx="211.894" cy="134.552" r="16.92"/>
                                        <circle id="xball_03" cx="152.277" cy="170.596" r="30.368"/>
                                        <circle id="xball_04" cx="100.83" cy="261.617" r="23.163"/>
                                        <circle id="xball_05" cx="235.468" cy="230.468" r="26.239"/>
                                        <circle id="xball_06" cx="170.106" cy="264.851" r="20.208"/>
                                        <circle id="xball_07" cx="150.383" cy="332.255" r="24.458"/>
                                        <circle id="xball_08" cx="223.745" cy="311" r="31.785"/>
                                        <circle id="xball_09" cx="72.064" cy="346.319" r="26.95"/>
                                        <circle id="xball_10" cx="110.511" cy="420.894" r="20.515"/>
                                        <circle id="xball_11" cx="194.521" cy="410.136" r="28.899"/>
                                        <circle id="xball_12" cx="290.064" cy="410.638" r="18.347"/>
                                    </g>
                                </svg>

                                <div id="xmasball_01" class="xmas-ball xmas-ball-custom dropzone" title="xmasball_01"></div>
                                <div id="xmasball_02" class="xmas-ball xmas-ball-custom dropzone" title="xmasball_02"></div>
                                <div id="xmasball_03" class="xmas-ball xmas-ball-custom dropzone" title="xmasball_03"></div>
                                <div id="xmasball_04" class="xmas-ball xmas-ball-custom dropzone" title="xmasball_04"></div>
                                <div id="xmasball_05" class="xmas-ball xmas-ball-custom dropzone" title="xmasball_05"></div>
                                <div id="xmasball_06" class="xmas-ball xmas-ball-custom dropzone" title="xmasball_06"></div>
                                <div id="xmasball_07" class="xmas-ball xmas-ball-custom dropzone" title="xmasball_07"></div>
                                <div id="xmasball_08" class="xmas-ball xmas-ball-custom dropzone" title="xmasball_08"></div>
                                <div id="xmasball_09" class="xmas-ball xmas-ball-custom dropzone" title="xmasball_09"></div>
                                <div id="xmasball_10" class="xmas-ball xmas-ball-custom dropzone" title="xmasball_10"></div>
                                <div id="xmasball_11" class="xmas-ball xmas-ball-custom dropzone" title="xmasball_11"></div>
                                <div id="xmasball_12" class="xmas-ball xmas-ball-custom dropzone" title="xmasball_12"></div>
                            </div>
                            <div class="xmas-wishes">
                                <div id="wishes-results">
                                    <p>
                                        Zdrowych, <br>
                                        radosnych Świąt Bożego <br>
                                        Narodzenia. <br>

                                        Miłości i wzruszeń, <br>
                                        radości i spełnienia <br>
                                        marzeń <br>
                                        oraz gwiazdki, <br>
                                        która doprowadzi <br>
                                        wszystkich do domu.
                                    </p>
                                </div>

                                <div id="enter-wishes" class="hidden-textarea">
                                    <div class="textarea">
                                        <label>
                                            <textarea id="xmas-wishes" name="wishes" placeholder="Wprowadź swoje życzenia"></textarea>     
                                        </label>
                                        <div class="character-count">
                                            <p>
                                                <span id="wordcount">0</span> / <span id="wordlimit">0</span> znaków
                                            </p>
                                        </div>
                                    </div>
                                    <div class="action">
                                        <div class="action-cancel">
                                            <button type="button" id="wishes-reset">Anuluj</button>
                                        </div>
                                        <div class="action-save">
                                            <button type="button" id="wishes-confirm">Zapisz</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figcaption>
                    </figure>

                    <div class="download">
                        <a id="card_download" class="button card_download">
                            <span class="text">Pobierz gotową kartkę</span>
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    class="feather feather-arrow-down">
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <polyline points="19 12 12 19 5 12"></polyline>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="star">
                    <p>Pobierz ją i prześlij za pomocą e-mail do rodziny czy znajomych</p>
                </div>
            </div>

        </div>
    </main>
</div>
@@include('../../modules/footerinfo.html')