@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
      visibility: visible;
  }
}

@keyframes slideUp {
  from {
      transform: translateY(50px);
  }
  to {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
  }
}

@keyframes slideInRight {
  from {
      transform: translateX(-325px) scale(-1, 1);
  }
  to {
      transform: translateX(0) scale(-1, 1);
      opacity: 1;
      visibility: visible;
  }
}

@keyframes slideInLeft {
  from {
      transform: translateX(325px);
  }
  to {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
  }
}
@keyframes slideInTop {
  from {
      transform: translateY(50px);
  }
  to {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
  }
}
@keyframes slideInBottom {
  from {
      transform: translateY(-50px);
  }
  to {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
  }
}

@keyframes loading {
	0%, 60%, 100% {
		transform: initial;
    background-color: $theme-color-1;
	}

	30% {
		transform: translateY(-7px);
    background-color: lighten($theme-color-1, 15%);
	}
}

@keyframes stretch {
  0% {
      transform: scale(.9);
  }

  100% {
      transform: scale(1);
  }
}

@keyframes fall {
  100% {transform: translateY(200vh); }
}