//Testing
// * {
//    outline: 1px solid black;
// }

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    position: relative;
    min-width: $min-width;
    font-size: 2.2rem;
    line-height: 1.6;
    font-family: $Poppins;
    text-rendering: geometricPrecision;
    font-weight: 400;
    color: $defaultBlack;
    overflow-x: hidden;
    background: $white;

    .container-main-placeholder {
        height: 100vh;
        overflow: hidden;
        @include MQ(Lneg) {
            height: 100%;
            min-height: 100vh;
            overflow-y: auto;
        }
    }


    &.disable-scroll {
        overflow: hidden;
    }
}

h1 {
    font-size: 2.8rem;

    @include MQ(Mneg) {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
}

h2 {
    font-size: 2.4rem;
    font-weight: bold;

    @include MQ(Mneg) {
        font-size: 1.2rem;
        line-height: 2.2rem;
    }
}

a {
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;

    &[href^="tel:"] {
        text-decoration: none;
    }
}

strong {
    font-weight: 700;
}

button, .button {
    cursor: pointer;
    transition: opacity .3s ease-out;
}

input:focus {
    outline: none;
}

sup {
    font-size: 57%; 
    line-height: 0; 
    position: relative; 
    vertical-align: baseline; 
    top: -0.5em;
}