footer {
    width: 100%;
    background: linear-gradient(-45deg, $greenApteo 0%, darken($greenApteo, 10%) 90%);
    position: relative;
    .footer-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 40px;
        max-width: $max-width;
        margin: 0 auto;
        @include MQ(Lneg) {
            flex-direction: column;
        }
        .partner {
            display: flex;
            align-items: center;
            @include MQ(Lneg) {
                margin:  0 0 25px 0;
            }

            img {
                width: 100%;
            }
        }
        .createdby {
            p {
                font-size: 1.6rem;
                color: $white;
                a {
                    font-weight: $fw-bold;
                    color: $white;
                    &:hover {
                        color: $redApteo;
                    }
                }
            }
        }
    }
}