.scroll-progressbar {
    width: 100%;
    height: 2px;    
    z-index: 100;

    .progressbar-inner {
        position: absolute;
        top: 0;
        left: 0;
        background: $yellow;
        width: 30%;
        height: 2px;
    }
}