<!-- <div class="audio-container" v-show="!audiobarHidden">
    <div class="audiobar-notification" :class="{ 'audiobar-notification-show': showNotification }">
        <div class="audiobar-notification-inner">
            <p v-html="status"></p>
        </div> 
    </div>

    <div class="audio-group">
        <div class="audio audio__thumb">
            <div class="audio audio__thumb--image">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    class="feather feather-image">
                    <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
                    <circle cx="8.5" cy="8.5" r="1.5"></circle>
                    <polyline points="21 15 16 10 5 21"></polyline>
                </svg>
            </div>
        </div>
        <div class="audio audio__progressbar">
            <div class="audio audio__progressbar-group">
                <div class="audio audio__progressbar--title">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="audio audio__progressbar--duration">
                    <p>01:32 / 04:36</p>
                </div>
            </div>
            <div class="audio audio__progressbar--bar">
                <div class="audio-bar">
                    <div class="audio-bar--inner"></div>
                </div>
            </div>
        </div>
        <div class="audio audio__buttons">
            <div class="audio-btn audio__buttons--stop">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    class="feather feather-stop-circle">
                    <circle cx="12" cy="12" r="10"></circle>
                    <rect x="9" y="9" width="6" height="6"></rect>
                </svg>
            </div>
            <div class="audio audio__buttons-group">
                <div class="audio-btn audio__buttons--play" @click="isPlaying(false)" v-if="audioPlay">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        class="feather feather-play-circle">
                        <circle cx="12" cy="12" r="10"></circle>
                        <polygon points="10 8 16 12 10 16 10 8"></polygon>
                    </svg>
                </div>
                <div class="audio-btn audio__buttons--pause" @click="isPlaying(true)" v-else>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        class="feather feather-pause-circle">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="10" y1="15" x2="10" y2="9"></line>
                        <line x1="14" y1="15" x2="14" y2="9"></line>
                    </svg>
                </div>
            </div>
            <div class="audio audio__buttons-group">
                <div class="audio-btn audio__buttons--volume-off" v-if="audioVolumeMute" @click="isVolumeMute(false)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        class="feather feather-volume-x">
                        <polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"></polygon>
                        <line x1="23" y1="9" x2="17" y2="15"></line>
                        <line x1="17" y1="9" x2="23" y2="15"></line>
                    </svg>
                </div>
                <div class="audio-btn audio__buttons--volume-on" v-else @click="isVolumeMute(true)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        class="feather feather-volume">
                        <polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"></polygon>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="audio-close">
        <div class="audio-close-icon" @click="hideAudiobar">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                class="feather feather-x">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </div>
    </div>
</div> -->