<div class="cookies-alert">
    <p>
        <strong>Strona stosuje pliki cookies. </strong>Korzystanie ze strony oznacza zgodę na wykorzystanie plików cookies zgodnie z <a href="pliki/polityka_cookies.pdf" target="_blank" rel="noopener noreferrer">Polityką cookies</a>.
    </p>
    <button name="accept-cookies" class="white cookies-button">Akceptuję</button>
</div>