<footer>
    <div class="footer-container">
        <div class="partner">
            <img src="/img/brand/synoptisPharma.svg" alt="Synoptis Pharma" title="Synoptis Pharma">
        </div>
        <div class="createdby">
            <p>Created by <a href="https://nekk.pl/" target="_blank">nekk</a></p>
        </div>
    </div>
</footer> 