<div class="crop-image-modal">
    <div class="crop-image-container">
        <div id="close-crop-modal" class="crop-image-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-x">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </div>
        <div class="crop-header">
            <p>Podgląd wybranego zdjęcia</p>
        </div>
        <div class="crop-result"></div>        
        <div class="crop-image-save">
            <button id="crop-image-start" class="btn btn-crop-save">Kadruj</button>
        </div>
    </div>

    <div class="crop-image-preview">        
        <div class="crop-image-preview-wrapper">
            <!-- <div id="crop-preview-close" class="crop-preview-close">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-x">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </div> -->
            <div class="crop-image-view">
                <img class="image-cropped" src="https://via.placeholder.com/150" alt="Cropped image">
            </div>
            <div class="crop-preview-buttons">
                <div class="crop-preview-return">
                    <button id="crop-preview-return" class="btn btn-return">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="feather feather-arrow-left">
                            <line x1="19" y1="12" x2="5" y2="12"></line>
                            <polyline points="12 19 5 12 12 5"></polyline>
                        </svg>
                    </button>
                </div>
                <div class="crop-preview-select">
                    <button id="crop-image-select" class="btn btn-select">Wybierz</button>
                </div>
            </div>
        </div>
    </div>
</div>