<nav class="main-nav">
    <div class="menu-container">
        <div class="menu-brand">
            <a href="https://apteo.pl/" target="_blank">
                <img src="/img/brand/brandApteo.svg" alt="Apteo" title="Apteo">
            </a>
        </div>
        <div class="menu-nav">
            <ul>
                <li>
                    <a href="#top">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="feather feather-arrow-up">
                            <circle cx="12" cy="12" r="10"></circle>
                            <polyline points="16 12 12 8 8 12"></polyline>
                            <line x1="12" y1="16" x2="12" y2="8"></line>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#zyczenia">Życzenia</a>
                </li>
                <li>
                    <a href="#kartka">Kartka</a>
                </li>
            </ul>
        </div>     
        <div class="menu-audiobar">
            <div id="volume-settings" class="menu-audiobar-hidden">
                <div class="volume volume-on hidden">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path id="Icon_material-volume-up" data-name="Icon material-volume-up" d="M4.5,9.653v5H7.833L12,18.82V5.487L7.833,9.653Zm11.25,2.5A3.75,3.75,0,0,0,13.667,8.8V15.5a3.728,3.728,0,0,0,2.083-3.35ZM13.667,4.845V6.562a5.835,5.835,0,0,1,0,11.183v1.717a7.495,7.495,0,0,0,0-14.617Z" />
                    </svg> -->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z"/>
                    </svg>
                </div>
                <div class="volume volume-off">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <!-- <path d="M0 0h24v24H0z" fill="none"/> -->
                        <path d="M16.5 12c0-1.77-1.02-3.29-2.5-4.03v2.21l2.45 2.45c.03-.2.05-.41.05-.63zm2.5 0c0 .94-.2 1.82-.54 2.64l1.51 1.51C20.63 14.91 21 13.5 21 12c0-4.28-2.99-7.86-7-8.77v2.06c2.89.86 5 3.54 5 6.71zM4.27 3L3 4.27 7.73 9H3v6h4l5 5v-6.73l4.25 4.25c-.67.52-1.42.93-2.25 1.18v2.06c1.38-.31 2.63-.95 3.69-1.81L19.73 21 21 19.73l-9-9L4.27 3zM12 4L9.91 6.09 12 8.18V4z"/>
                    </svg>
                </div>
                
            </div>
        </div>
        <div class="hamburger hamburger--minus">
            <div class="hamburger-box">
                <span class="hamburger-inner"></span>
            </div>
        </div>
    </div>

    <!-- Mobile Nav -->
    <div class="navigation-drawer">
        <div class="navigation-inner">
            <div class="navigation-drawer-top">
                <div class="brand">
                    <a href="https://apteo.pl" target="_blank">
                        <img src="/img/brand/brandApteoGray.svg" alt="Apteo">
                    </a>
                </div>
            </div>
            <div class="navigation-drawer-content">
                <div class="content-wrapper">
                    <ul id="mobile-nav">
                        <li class="navlink">
                            <a href="#top" class="active">Strona Główna</a>
                        </li>
                        <li class="navlink">
                            <a href="#zyczenia">Życzenia</a>
                        </li>
                        <li class="navlink">
                            <a href="#kartka">Kartka</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="navigation-drawer-footer">
                <p>Created by <a href="https://nekk.pl" target="_blank">nekk</a></p>
            </div>
        </div>
    </div>
</nav>
