<div id="preloader" class="preloader-container">
    <div class="preloader-inner">
        <div class="preloader-brand">
            <img src="/img/brand/brandApteo.svg" alt="Apteo" title="Apteo">
            <p>Ładowanie treści...</p>
        </div>
    </div>
</div>