@@include('../modules/cookies.html')

<script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="js/vendors.js"></script>
<script src="js/dragndrop.js"></script>

<script type="text/javascript">
    function viewportdisplay(e) {
        var script = document.createElement('script');
        script.type = 'text/javascript';

        if (window.innerWidth > 992) {
            script.src = '/js/main.js';

            document.body.append(script);
        } else {
            script.src = '/js/mobile-app.js';

            document.body.append(script);
        }
    }

    viewportdisplay();
</script>
</body>

</html>